<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<div style="position: absolute; top: 2475px; left: 643px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="425" height="425">
</div>

<div style="position: absolute; top: 2475px; left: 2298px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="425" height="425">
</div>

<div style="position: absolute; top: 3830px; left: 330px; width: 425px; height: 425px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@venue.merchant.id,@qr_code) %>" width="425" height="425">
</div>

<div style="position: absolute; top: 3830px; left: 1985px; width: 425px; height: 425px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@venue.merchant.id,@qr_code) %>" width="425" height="425">
</div>

<img src="http://files.getkickbak.com/ttpweb.jpg" width="3300" height="5100" />
</body>
</html>
