<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<div style="position: absolute; top: 2471px; left: 646px; width: 425px; height: 425px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@venue.merchant.id,@qr_code) %>" width="425" height="425">
</div>

<div style="position: absolute; top: 2471px; left: 2301px; width: 425px; height: 425px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@venue.merchant.id,@qr_code) %>" width="425" height="425">
</div>

<div style="position: absolute; top: 3826px; left: 333px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="425" height="425">
</div>

<div style="position: absolute; top: 3826px; left: 1988px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="425" height="425">
</div>

<div style="position: absolute; top: 400px; width: 1650px; color: black; font-size: 2em; text-align: center;"><%= @venue.name %></div>
<div style="position: absolute; top: 400px; left: 1650px; width: 1650px; color: black; font-size: 2em; text-align: center;"><%= @venue.name %></div>
<img src="http://files.getkickbak.com/ttpweb.jpg" width="3300" height="5100" />
</body>
</html>
