<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet/less" href="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/lib/bootstrap.less"/>
		<link rel="stylesheet" href="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/docs/assets/css/docs.css"/>
		<link rel="stylesheet" href="/stylesheets/application.css"/>
	</head>
	<body>
		<div name="top" class="container">
			<img src="<%= @qr_code %>">
		</div>
	</body>
</html>