<h1>Listing Venues</h1>

<div class="content row">
<% @venues.each do |venue| %>
<div>
		<div><%= link_to venue.name, venue_path(venue) %></div>
		<div><%= link_to 'Edit', edit_venue_path(venue) %></div>
</div>
<% end %>
</div>


<%= link_to 'New Venue', new_venue_path %> 
<% if current_merchant.status == :pending %>
| <%= link_to 'Continue Setup', setup_path %>
<% end %>
