<% content_for :link do %>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/add_business-ie8.css"/>
<![endif]-->
<% end %>
<div class="row-fluid">
   <div class="span3"></div>
   <div class="span6">
      <ul class="nav nav-list well">
         <li class="nav-header"> Listing Venues </li>
         <% @venues.each do |venue| %>
         <li>
            <!-- -->
            <div style="position:relative;padding: 3px 15px">
               <!-- -->
               <%= link_to venue.name, venue_path(venue) %>
               <%= link_to edit_venue_path(venue), :style=>'position:absolute;right:0px;' do %>
               <i class="icon-edit"></i>
               <!-- -->
               <% end %>
            </div>
            <!-- -->
         </li>
         <% end %>
         <li><%= link_to 'New Venue', new_venue_path %>
            <% if current_merchant.status == :pending %>
            <%= link_to 'Continue Setup', setup_path %>
            <% end %>
            <!-- -->
         </li>
      </ul>
   </div>
</div>
