<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/edit_venue.js"></script>
<% end %>
<div id="main" class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span9">
               <div class="widget ">
                  <div class="widget-header">
                     <i class="icon-map-marker"></i>
                     <h3>Venue</h3>
                  </div>
                  <!-- /widget-header -->
                  <div class="widget-content">
                     <div class="tabbable">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#venue" data-toggle="tab">Create</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                           <div class="tab-pane active" id="venue">
                              <%= render 'form' %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /widget-content -->
               </div>
               <!-- /widget -->
            </div>
            <!-- /span9 -->
            <div class="span3">
               <!-- /widget-box -->
               <div class="widget widget-box">
                  <div class="widget-header">
                     <i class="icon-globe"></i>
                     <h3>Location Map</h3>
                  </div>
                  <!-- /widget-header -->
                  <div class="widget-content">
                     <div id="gmap" class="" style="height:235px;width:100%;"></div>
                  </div>
                  <!-- /widget-content -->
               </div>
               <!-- /widget-box -->
            </div>
            <!-- /span3 -->
         </div>
         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <!-- /main-inner -->
</div>
<!-- /main -->
