<div class="span3">
	<div class="widget ">
		<div class="widget-content">
			<p>
				Earning bonus points
			</p>
			<p>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
			</p>
		</div>
	</div>
</div>