<div class="span3">
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-question-sign"></i>
			<h3>Extra Info</h3>
		</div>
		<div class="widget-content">
			<p>
				Did you know you can use KICKBAK with both a key tag and a mobile app?
			</p>
			<p>
				To get your key tag, just drop by your favorite KICKBAK location.
			</p>
			<p>
				To download our mobile app, just pick your favorite platform below:
			</p>
		</div>
	</div>
</div>