<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<div style="position: absolute; top: 2485px; left: 638px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr_rev.png" width="425" height="425">
</div>

<div style="position: absolute; top: 2485px; left: 2293px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr_rev.png" width="425" height="425">
</div>

<div style="position: absolute; top: 3840px; left: 325px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="425" height="425">
</div>

<div style="position: absolute; top: 3840px; left: 1980px; width: 425px; height: 425px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="425" height="425">
</div>

<img src="http://files.getkickbak.com/ttpweb.jpg" width="3300" height="5100" />
</body>
</html>