<div class="content row">
	<div>
		<%= link_to 'Print Poster', "http://files.getkickbak.com/poster.jpg" %>
	</div>
	<div>
		<%= link_to 'Print Table Topper', "http://files.getkickbak.com/check_in.pdf" %>
	</div>
	<div>
		<%= link_to 'Update Table Topper', update_checkin_image_path %>
	</div>
</div>