@import 'form-sliders';

//------------------------------------------------------------------------------
// ListField
//------------------------------------------------------------------------------

// Ext.field.Select
.x-listmark-base {
   & {
      @include insertion(2em, 2em, (($form-field-height/2)+$panelTopGap)-(2em/2), auto);
      right: ($form-spacing + .1em);
      background: theme_image($theme-path-common + "/miscicons", "disclose" + ".svg") no-repeat center center;
      @include background-size(2em);
      background-color:transparent !important;
      margin-top: -.5em;
      -webkit-mask:none;
   }
   &.facebook {
      right: ($form-spacing + .5em);
      @include insertion(1.3em, 1.3em, (($form-field-height/2)+$panelTopGap)-(1.3em/2), auto);
      background: theme_image($theme-path-common + "/toolbar", "facebook" + ".svg") no-repeat 50% 50%;
      @include background-size(1.3em);
      margin-top: 0;
   }
}

  
// Create the dropdown arrow
// for select fields
.x-field-list {
   @extend .x-field-select;
   .x-component-outer {
      &:after {
         @include listmark($form-light);
         z-index: 2;
      }
      &:before {
         @if $include-highlights { background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba($form-field-bg-color, 0)), color-stop(.5, rgba($form-field-bg-color, 1))); }
      }
      .x-field-input .x-clear-icon {
         background:none;
      }
   }
}

//------------------------------------------------------------------------------
// Form CSS
//------------------------------------------------------------------------------
//
// Transparent colors to make texture background show up on all screens
//
.x-form .x-scroll-container {
   background : transparent;
}
.x-form-fieldset .x-form-fieldset-inner {
   border : none;
   background : $Grey;
}
.x-form-fieldset .x-form-label {
  border : none;
}
.x-label-align-top .x-form-label {
   @include custom-linear-gradient($BlueStart 10%, $BlueEnd 85%, top);
   text-shadow: #000 0 1px 1px;
   color : white;
}
.x-label-align-left .x-form-label {
   background : transparent;
   text-shadow : none;
   color : inherit;
   padding: .4em;
   min-height : $form-field-height;
   line-height : $form-field-height;
   span {
      //font-size: inherit;
      font-weight: normal;
   }
}

//------------------------------------------------------------------------------
// Form Field CSS
//------------------------------------------------------------------------------
.x-field {
   background : $Grey;
   &.x-label-align-left .x-input-el {
      &, &::-webkit-input-placeholder {
         text-align:right;
      }
      &::-webkit-input-placeholder {
         direction:rtl;
      }
   }
   &.x-field-clearable .x-input-el {
      padding-right:0;
   }
   .x-input-el {
      &, &::-webkit-input-placeholder {
         line-height: $form-field-height;
      }
      padding-right:$form-thumb-size;
   }
}

.readOnly, .x-field:not(.x-field-select) {
   &:not(.x-field-clearable) .x-component-outer:after {
     background-color:transparent;
   }
}
