//------------------------------------------------------------------------------
// ListField
//------------------------------------------------------------------------------

// Ext.field.Select
.x-listmark-base {
   & {
      @include insertion(2em, 2em, $panelTopGap, auto);
      right: ($form-spacing + .1em);
      background: theme_image($theme-path + "/miscicons", "disclose" + ".png") no-repeat center center;
      background-size: 2em;
      background-color:transparent !important;
      margin-top: -.5em;
      -webkit-mask:none;
   }
   &.facebook {
      right: ($form-spacing + .5em);
      @include insertion(1.3em, 1.3em, $panelTopGap, auto);
      background: theme_image($theme-path + "/toolbar", "facebook" + ".png") no-repeat 50% 50%;
      background-size: 1.3em;
      margin-top: 0;
   }
}

  
// Create the dropdown arrow
// for select fields
.x-field-list {
   @extend .x-field-select;
   .x-component-outer {
      &:after {
         @include listmark($form-light);
         z-index: 2;
      }
      &:before {
         @if $include-highlights { background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba($form-field-bg-color, 0)), color-stop(.5, rgba($form-field-bg-color, 1))); }
      }
      .x-field-input .x-clear-icon {
         background:none;
      }
   }
}

//------------------------------------------------------------------------------
// Form CSS
//------------------------------------------------------------------------------
//
// Transparent colors to make texture background show up on all screens
//
.x-form .x-scroll-container {
   background : transparent;
}
.x-form-fieldset .x-form-fieldset-inner {
   border : none;
   background : $Grey;
}
.x-form-fieldset .x-form-label {
  border : none;
}
.x-field {
   background : $Grey;
}
.x-form-label {
   @include custom-linear-gradient($BlueStart 10%, $BlueEnd 85%, top);
   text-shadow: #000 0 1px 1px;
   color : white;
}
