//------------------------------------------------------------------------------
// List CSS
//------------------------------------------------------------------------------
.x-list {
   background:transparent;
   .x-list-disclosure {
      background: theme_image($theme-path + "/miscicons", "disclose" + ".png");
      @include background-size(2em);
      background-position:center center;
      background-repeat:no-repeat;
      margin: ($panelTopGap*2) $panelGap 0 0;
   }
   .x-list-item {
      .x-list-header {
         @include custom-linear-gradient($OrangeEnd, $list-header-bg-color, top);
         color : $Grey;
      }
      .x-dock-horizontal {
         //@if $include-border-radius { @include border-radius(0); }
         position:relative;
         border-width: 1px 0 0 0;
         border-top: 1px solid darken($list-bg-color, 15%);
         background : $Grey;
      }
   }
}

.x-list-round {
   .x-list-header {
      @include bevel-by-background($list-header-bg-color);
      border-top: 1px solid $list-header-bg-color;
      border-bottom: 1px solid darken($list-header-bg-color, 20%);
      font-weight: bold;
      font-size: $largeFontSize;
      padding: $panelTopGap/4 1.02em;
      @include bevel-by-background($list-header-bg-color);
   }
   .x-scroll-view {
      background:transparent !important;
   }
}

.x-list-round, .x-list-bottom-round {
   .x-list-item-last .x-dock-horizontal {
      @if $include-border-radius { @include border-bottom-radius($panelBorderRadius); }
   }
   &.x-list-ungrouped,
   &.x-list-grouped {
      @if $list-zebrastripe {
      .x-list-item {
         .x-dock-horizontal {
            border-top: 1px solid transparent;
         }
         &:nth-child(even) .x-dock-horizontal {
            background-color: darken($list-bg-color, 5%);
         }

         &.x-list-footer-wrap:nth-child(odd) .x-dock-horizontal {
            border-bottom: 1px solid darken($list-bg-color, 5%);
         }
      }
      }
   }
}

.x-list-normal {
   .x-list-header {
      line-height:$list-disclosure-size;
   }
   &.x-list-grouped .x-list-header-wrap .x-dock-horizontal {
      padding-top: calc-px-em(2*1px, (1.7em + 0.2em)*0.8, 1em);
   }
}
