.news-item-detail img {
	margin-bottom: 1em;
}

.news-item-header {
	font-weight: bold;
	margin-bottom: 1em;
}

.news-item-preview {
	margin-bottom: 1em;
}

.news-item-misc {
	font-size: 12px;
}

.promotion_text {
	padding: 0 0 20px 180px;
}