<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @reward.user.name.split(' ')[0] %>,</h2>
    <p>
      Thanks for referring your friends to <%= @reward.deal.merchant.name %>!
    </p>
    <p>
      Please print the attached coupon and bring it to <%= @reward.deal.merchant.name %> to claim your reward.
    </p>
    <p>Thanks for participating and have a great day!</p>
    <p>The JustForMyFriends Team</p>
    <p><a href="http://www.justformyfriends.com">www.justformyfriends.com</a></p>
  </body>
</html>