<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<center>
				<div style="text-align:left;width:643px;solid;background:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
					<div style="background-color:#000000;padding: 10px 20px;">
						<a rel="nofollow" target="_blank" href="http://www.getkickbak.com"> <img src="http://files.getkickbak.com/v1/logo.png" border="0" alt="getkickbak.com"> </a>
					</div>
					<div style="border:#000000 1px; padding: 0 15px 0 15px;">
						<br>
						<br>
						&lt;Input your message here&gt;
						<br>
						<br>	
						=============================================================================
						<br>
						<br>
						<%= @sender.name %> has sent you a transfer of <%= "#{@record.points} #{t("api.points", :count => @record.points)}" %> that can be redeemed at <%= @merchant.name %>.
						<br>
						<br>
						To deposit this transfer, scan the QR code in the attachment with your KICKBAK app:
						<br>
						<br>
						Expiry Date: <%= @record.expiry_date.strftime("%b %d, %Y") %>
						<br>
					</div>
					<center>
						Haven't downloaded KICKBAK yet? Visit us online at <a rel="nofollow" target="_blank" href="http://getkickbak.com">getkickbak.com</a>
					</center>
				</div>
			</center>
		</div>
	</body>
</html>
