//------------------------------------------------------------------------------
// KickBak Theme Colors
//------------------------------------------------------------------------------
$BlueStart : #00ADEE; $BlueEnd : #0A78BE;
$OrangeStart : #E86025; $OrangeEnd : #FAA845;
$GreenStart : #42BA7C; $GreenEnd : #1A5D2F;
$BlackStart : #555658; $BlackEnd : #000000;
$BlueHomeStart : #89D7F7; $BlueHomeEnd : #00B0EF;
$BlueMask : #25AAE1;
$Grey : #F3F3F4;
$GreyNoEntry : #E7E7E8;
$GreyStart : #F3F3F4; $GreyEnd : #D1D2D4;
$GreyHdrStart : #A7A9AC; $GreyHdrEnd : #777878;
$PinkStart : #F8F8F8; $PinkEnd : #E7E7E7;
$FbBlue : #5F78AB;
//------------------------------------------------------------------------------
// Global Vars Default Theme Override
//------------------------------------------------------------------------------
$base-color: $BlueStart;
$base-gradient: 'smooth';
$active-color: darken(saturate($OrangeEnd, 55%), 10%);

// Highlights
$include-highlights: false; // Can disable all theme-generated gradients, text-shadows, and box-shadows.

//Buttons
$include-buttons-uis : false;
$include-default-icons : false;

// Forms
//$form-dark: #FFF;
$form-light: $BlueEnd ;
$form-field-bg-color : $Grey;

// Lists
$list-bg-color: $Grey;
$list-active-gradient: 'bevel';
//$list-header-bg-color: transparentize(saturate($base-color, 10%), .25);
$list-header-bg-color: $OrangeStart;
$list-header-gradient: 'matte';
$list-zebrastripe : false;

// Tabs
$tabs-dark: #111;
$include-toolbar-uis : false;

//------------------------------------------------------------------------------
// Global Vars Theme
//------------------------------------------------------------------------------

// Icon Reference size
$icon-size: 1.5 * 57px;
$icon-multiplier: 1;
// Panel Gaps
$panelGap: 0.8em;
$panelTopGap: 0.7em;
$panelBorderRadius : 0.6em;
// Font sizes
$defaultFontSize : (16px * 1.5 * 1.14 * 1.0);
$xsmallFontSize : 0.3em;
$smallFontSize : 0.4em;
$normalFontSize : 0.6em;
$largeFontSize : 0.8em;
$xlargeFontSize : 1.2em;

// Theme Path
$theme-path : 'v1/ios';
$theme-path-rel : '../themes/images/v1/ios';

// Badges Theme
$badgePoints-bg-color: darken($GreenEnd, 10%);
$badgePoints-bg-gradient: $base-gradient;

//------------------------------------------------------------------------------
// Default Theme Includes
//------------------------------------------------------------------------------
@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
//@include sencha-draw;
//@include sencha-charts;

//------------------------------------------------------------------------------
// Default Theme Includes and CSS Overrides
//------------------------------------------------------------------------------
@import 'sencha-touch/v1/all';

@media only screen and (-webkit-device-pixel-ratio: 1) and (orientation : landscape)
{
   body {
      font-size : 114%;
      //background-image : url(/resources/startup/640x920.png) no-repeat;
      background-size : contain;
   }
   
   body.x-tablet {
      font-size :171%;
   }
}

@media only screen and (-webkit-device-pixel-ratio: 1) and (orientation : portrait)
{
   body {
      font-size : 114%;
      //background-image : url(/resources/startup/640x920.png) no-repeat;
      background-size : contain;
   }
   
   body.x-tablet {
      font-size : 228%;  
   }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape)
{
   body {
      font-size : 114%;
      //background-image : url(/resources/startup/640x920.png) no-repeat;
      background-size : contain;
   }
   
   body.x-tablet {
      font-size :171%;
   }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait)
{
   body {
      font-size : 114%;
      //background-image : url(/resources/startup/640x920.png) no-repeat;
      background-size : contain;
   }
   
   body.x-tablet {
      font-size : 228%;  
   }
}
