// Let's start with the basics
$base-color: #7c92ae;
$base-gradient: 'glossy';

// Lists
$list-active-gradient: 'bevel';
$list-header-bg-color: transparentize(saturate($base-color, 10%), .25);
$list-header-gradient: 'matte';

// Tabs
$tabs-dark: #111;

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

//------------------------------------------------------------------------------
// Global Vars
//------------------------------------------------------------------------------
$icon-size: 57px;
$panelGap: 0.8em;
$panelTopGap: 0.7em;
$panelBorderRadius : 0.6em;
$xsmallFontSize : 0.3em;
$smallFontSize : 0.4em;
$normalFontSize : 0.6em;
$largeFontSize : 0.8em;
$xlargeFontSize : 1.2em;

//Enhancements
@include pictos-iconmask('list');
@include pictos-iconmask('info_plain');
@include pictos-iconmask('share');
@include pictos-iconmask('mail');
@include pictos-iconmask('shop2');
@include pictos-iconmask('team');
@include pictos-iconmask('maps');
@include pictos-iconmask('search1');
@include pictos-iconmask('favorites_circle');
@include pictos-iconmask('check_black1');
@include pictos-iconmask('delete_black2');

body {
}

.bgImage {
  background-image : url(../img/startup_640.jpg);
  background-size : cover;
}

.prizeCheck {
  background-image : url(../img/startup_640.jpg);
  background-size : cover;  
}

.navigationBarTop, .navigationBarBottom {
   .x-button {
      &.x-iconalign-top, &.x-iconalign-bottom {
         padding-top:.2em;
         padding-bottom:.1em;
         .x-button-label {
            //@extend .x-tabbar.x-docked-bottom .x-tab .x-button-label;
            margin: 0;
            padding: .1em 0 .2em 0;
            font-size: 9px;
            line-height: 12px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
         }
      }
   }
   .x-title {
      font-size:$largeFontSize;
   }

}

//------------------------------------------------------------------------------
// CSS Overrides for default graphics
//------------------------------------------------------------------------------
.x-emptytext {
  
}
//------------------------------------------------------------------------------
// Utility CSS
//------------------------------------------------------------------------------
.wrap {
   white-space:normal !important;  
}
.noWrap {
   white-space:nowrap !important;
} 
.x-button-icon.dummymask {
   width: 1.3em;
   height: 1.3em;
}

.x-body {
   div.separator .x-inner:first-child {
     margin:0em $panelGap;
     margin-bottom:$panelTopGap;
   }
   div.separator:first-child .x-inner:first-child {
     margin-top:$panelTopGap;
   }
   div.separator_pad .x-inner:first-child {
     padding:0em $panelGap;
     padding-bottom:$panelTopGap;
   }
   div.separator_pad:first-child .x-inner:first-child {
     padding-top:$panelTopGap;
   }
   
   div.separator > .x-innerhtml:first-child {
     margin:0em $panelGap;
     margin-bottom:$panelTopGap;
   }
   div.separator:first-child > .x-innerhtml:first-child {
     margin-top:$panelTopGap;
   }
   div.separator_pad > .x-innerhtml:first-child {
     padding:0em $panelGap;
     padding-bottom:$panelTopGap;
   }
   div.separator_pad:first-child > .x-innerhtml:first-child {
     padding-top:$panelTopGap;
   }
   
   .x-container, .x-button, .x-map { 
      &.separator {
         margin:0em $panelGap;
         margin-bottom:$panelTopGap;
      }
      &.separator:first-child {
         margin-top:$panelTopGap;
      }
      &.separator_pad {
         padding:0em $panelGap;
         padding-bottom:$panelTopGap;
      }
      &.separator_pad:first-child {
         padding-top:$panelTopGap;
      }
   }
}
.shadows {
   @include box-shadow(inset 0 0 0.3em rgba(0,0,0,.6));
}
.bold {
  font-weight:bold;
}

//------------------------------------------------------------------------------
// ListField
//------------------------------------------------------------------------------

@mixin listmark($color: #000){
  @extend .x-listmark-base;
  background-color: $color;
}

// Ext.field.Select
.x-listmark-base {
   @include insertion(1em, 1em, 50%, auto);
   right: ($form-spacing + .1em);
   -webkit-mask-size: 1em;
   -webkit-mask-image: theme_image($theme-name, "disclosure2.png");
   margin-top: -.5em;
}
  
// Create the dropdown arrow
// for select fields
.x-field-list {
   @extend .x-field-select;
   .x-component-outer {
      &:after {
         @include listmark($form-light);
         z-index: 2;
      }
      &:before {
         @if $include-highlights { background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba($form-field-bg-color, 0)), color-stop(.5, rgba($form-field-bg-color, 1))); }
      }
   }
   .facebook {
      .x-field-input .x-clear-icon {
         position:absolute;
         background: theme_image("../../../../../resources/images/"+$theme-name, "facebook.png") no-repeat 50% 50%;
         z-index:3;
      }
   }
}

//------------------------------------------------------------------------------
// List
//------------------------------------------------------------------------------
.x-list-round {
   .x-inner, .x-list-inner {
      .x-list-container {
         @include box-shadow(inset 0 0 0.3em rgba(0,0,0,.6));
         @if $include-border-radius { @include border-radius($panelBorderRadius) }
      }
   }
   .x-list-header {
      @include background-gradient($list-header-bg-color, $list-header-gradient);
      @include color-by-background($list-header-bg-color, 30%);
      @include bevel-by-background($list-header-bg-color);
      border-top: 1px solid $list-header-bg-color;
      border-bottom: 1px solid darken($list-header-bg-color, 20%);
      font-weight: bold;
      font-size: 0.8em;
      padding: 0.2em 1.02em;
      @include bevel-by-background($list-header-bg-color);
   }
}
.x-list-bottom-round {
   @extend .x-list-round;
   .x-inner, .x-list-inner {
      .x-list-container {
         @if $include-border-radius { @include border-top-radius(0) }
     }
   }
}
   
.x-list-round, .x-list-bottom-round {
   /*
   .x-list-item:first-child {
      border-top: 1px solid darken($list-bg-color, 15%);
      @include border-top-radius(.4em)
   }
   */
   &.x-list-ungrouped .x-list-item-label, &.x-list-grouped .x-list-item-label {
      background : transparent;
   }
   &.x-list-ungrouped .x-list-item:last-child {
     margin : 0;
     .x-list-item-label {
        border-width : 1px 0 0 0;
        //@include border-bottom-radius(.4em)
     }
   }
   .x-list-container {
     padding : 0;
   }
}

//------------------------------------------------------------------------------
// Button
//------------------------------------------------------------------------------
.x-button-large, .x-toolbar .x-button-large {
   @if $include-border-radius { @include border-radius($panelBorderRadius); }
   padding: .6em 1.2em;
   min-height: $button-height*1.5 !important;

   .x-button-label {
      font-size: $xlargeFontSize;
   }

   .x-button-icon {
      width: 1.5em;
      height: 1.5em;
   }
}
@mixin sencha-button-ui($ui-label, $color, $gradient: $button-gradient) {
  .x-button.x-button-#{$ui-label}, .x-button.x-button-#{$ui-label}-round, .x-button.x-button-#{$ui-label}-small, .x-button.x-button-#{$ui-label}-large {
    @include toolbar-button($color, $gradient);
  }

  .x-button.x-button-#{$ui-label}-round {
    @extend .x-button-round;
  }

  .x-button.x-button-#{$ui-label}-small {
    @extend .x-button-small;
  }
  .x-button.x-button-#{$ui-label}-large {
    @extend .x-button-large;
  }
}

.wrap {
   .x-button-label {
      white-space:normal !important;
   }
}

.plain {
   &.x-button, &.x-toolbar .x-button {
      background:none;
      border:none;
   }
}

.x-badge {
   &.round {
      @if $include-border-radius { @include border-radius(0.5em); }
   }
}
@include sencha-button-ui('yellow', darken(saturate(yellow, 55%), 10%));
@include sencha-button-ui('green', darken(saturate(green, 55%), 10%));
@include sencha-button-ui('red', darken(saturate(red, 55%), 10%));
@include sencha-button-ui('blue', darken(saturate(blue, 55%), 10%));
@include sencha-button-ui('black', darken(saturate(black, 55%), 10%));
@include sencha-button-ui('fbBlue', desaturate(darken(blue, 10%), 5%));

//------------------------------------------------------------------------------
// List CSS
//------------------------------------------------------------------------------
.listScrollWrapper, .listScrollIndexWrapper {
   .x-list-item:first-child {
      //margin-top: 1em;
   }
   .photo {
      top:$panelTopGap*0.5;
      left:$panelGap;
   }
}
.listNoScrollWrapper.separator, .listScrollWrapper.separator, .listScrollIndexWrapper.separator {
   margin:0 !important;
}
.listNoScrollWrapper.separator_pad, .listScrollWrapper.separator_pad, .listScrollIndexWrapper.separator_pad {
   padding:0 !important;
}
.listNoScrollWrapper.separator {
   .x-list-item:first-child {
   }
   /*
   .x-list-item {
      border-left: 1px solid darken($list-bg-color, 15%);
      border-right: 1px solid darken($list-bg-color, 15%);
   }
   */
   .photo {
      top:$panelTopGap*0.5;
      left:$panelGap;
   }
   &.noBorder .x-list-item {
      border : none
   }
}
.listScrollWrapper, .listNoScrollWrapper, .listScrollIndexWrapper {
   &.x-list .x-list-disclosure {
      bottom:1.0em;
   }
   &.x-list .x-list-item .x-list-item-label {
      position:relative;
      padding-top:$panelTopGap*0.5;
      padding-bottom:$panelTopGap*0.5;
      min-height:3.25em;
      .photo {
         position:absolute;
         img {
            width : $icon-size;
            max-height : $icon-size;
         }
      }
      .listItemDetailsWrapper {
         padding-left:$icon-size + 10px;
         padding-right:$list-disclosure-size*1.5;
         //width:20em;
         //width:14.5em;
         min-height:$icon-size;
         .itemTitle {
            font-size:$normalFontSize;
         }
         .itemDesc {
            font-size:$normalFontSize;
            @include ellipsis
         }
      }
   }
   &.x-list .x-list-item {     
      &:first-child .x-list-item-label {
         border: none;
         @if $include-border-radius { @include border-radius(0); }
      }
      .x-list-item-label {
         border-width: 1px 0 0 0;
         border-top: 1px solid darken($list-bg-color, 15%);
      }
      &:last-child .x-list-item-label {
         @if $include-border-radius { @include border-radius(0); }
      }
   }
   .x-inner, .x-list-inner {
      .x-list-container {
         @include box-shadow(inset 0 0 0.3em rgba(0,0,0,.6));
         //border: 1px solid darken($list-bg-color, 15%);
      }
   }
   .x-list-container {
     padding : 0;
   }

}

//------------------------------------------------------------------------------
// Icon Select CSS (MainPage and Challenge Page)
//------------------------------------------------------------------------------
.mainMenuSelections {
   padding:$panelGap;
   .x-dataview-item, .x-data-item {
      width:50%;
      float:left;
      font-size:$largeFontSize;
      color:#fff;
      position:relative; // Used for add Icon Mask to the selection
      .mainPageItemWrapper {
         text-align:center;
         .photo {
            height : $icon-size*1.25;
            img {
               width : $icon-size*1.25;
               max-height : $icon-size*1.25;
            }
         }
         .photoName {
            font-weight:bold;
            text-shadow:0em 0.1em 0.03em #000;
            padding-bottom:$panelTopGap*2
         }
      }
   }
   .x-dataview-item:nth-child(2n+1) {
      clear:both;
   }
}

.challengeMenuSelections {
   padding:$panelGap;
   .x-dataview-item, .x-data-item {
      width:33%;
      float:left;
      font-size:$largeFontSize;
      color:#fff;
      position:relative; // Used for add Icon Mask to the selection
      .mainPageItemWrapper {
         text-align:center;
         .photo {
            height : $icon-size*1.25;
            img {
               width : $icon-size*1.25;
               max-height : $icon-size*1.25;
            }
         }
         .photoName {
            font-weight:bold;
            text-shadow:0em 0.1em 0.03em #000;
            padding-bottom:$panelTopGap*2
         }
      }
   }
   .x-dataview-item:nth-child(3n+1) {
      clear:both;
   }
}

.challengePageItemDescWrapper {
   min-height : 5em;
   max-height : 5em;
   padding:$panelTopGap/2 $panelGap;
   background: rgba(0, 0, 0, .25);
   .itemDesc {
      font-size:$normalFontSize;
      padding-bottom:$panelTopGap/2;  
   }
   .itemDescName {
      text-align:center;
   }
}

//------------------------------------------------------------------------------
// Checkin Pages
//------------------------------------------------------------------------------
.checkInExploreList {
   @extend .listScrollWrapper;
   .listItemDetailsWrapper {
      //width:12em !important;
   }
}

.checkInNow {
  background : black;
  padding: $panelTopGap 2*$panelGap;
}

//------------------------------------------------------------------------------
// Merchant Account Page and Merchant Prize Page
//------------------------------------------------------------------------------
.merchantPagePanel {
   //background-image: url('http://img1.jurko.net/wall/paper/donald_duck_4.jpg');
   background-position: center;
   /* Make the background image cover the area of the <div>, and clip the excess */
   background-size: cover;
   //padding : $panelTopGap $panelGap 0 $panelGap;
   .container {
     //height : $icon-size;
     background: rgba(0,0,0,0.3) center center no-repeat;
     color: white;
     padding : $panelTopGap $panelGap;
   }
   .coinphoto {
      width:$icon-size;
      max-height : $icon-size;
      margin-right : $panelGap;
   }
   .points {
     font-size:$xlargeFontSize*2;
     text-align:center;
     .x-innerhtml {
        line-height:$xlargeFontSize;
     }
   }
}

.merchantDetails {
   .x-body {
   }
   .gmap .x-innerhtml {
      overflow:hidden;
   }
   .x-dataview {
      .x-inner {
         margin:0!important;
         padding:0!important;
      }
      .photo {
         height:$icon-size*2+10;
         img {
            width : $icon-size*2;
            max-height:$icon-size*2;
            @include box-shadow(0.2em 0.2em 0.2em rgba(0,0,0,.6));
            margin-right:$panelGap;
         }
      }
      //margin-left:$icon-size*1.5 + 10px;
      padding-right:0;
      //width:8.5em !important;
      .itemTitle {
         font-size:$largeFontSize;
      }
      .itemDesc {
         font-size:$normalFontSize;
         @include ellipsis
      }
   }
}

//------------------------------------------------------------------------------
// Merchant Account Page and Merchant Prize Page
//------------------------------------------------------------------------------
.rewardItem {
   .title {
      font-size:$xlargeFontSize;
      font-weight:bold;
      min-height : 3.6em;
      text-align:center;
   }
   .reward {
      margin:auto;
      text-align:center;
      img {
         width : $icon-size*3;
         max-height : $icon-size*3;
      }
   }
   .info {
      position:relative;
      padding:$panelTopGap $panelGap $panelTopGap*2 $panelGap;
      min-height:6.50em;
      .photo {
         position:absolute;
         right : 0.8em;
         img {
            width : $icon-size;
            max-height : $icon-size;
         }
      }
      .infoWrapper {
         padding-right:$icon-size + 10px;
         width:16em;
         min-height:$icon-size*2;
         .name {
            font-size:$normalFontSize;
            font-weight:bold;
            @include ellipsis;
            padding-bottom : $panelTopGap;
         }
         .disclaimer {
            font-size:$smallFontSize;
         }
         .date {
            font-size:$normalFontSize;
            font-weight:bold;
         }
      }
   }
}
//------------------------------------------------------------------------------
// Merchant Account
//------------------------------------------------------------------------------
.merchantStatsPanel, .merchantDescPanel {
   padding: $panelTopGap $panelGap;
   @if $include-border-radius { @include border-bottom-radius($panelBorderRadius); }
   @include box-shadow(inset 0 0 0.3em rgba(0,0,0,.6));
}

.merchantStatsPanel {
   .x-inner {
      margin:0 !important;
   }  
   //height:7em;
   .merchantPhoto {
      .photo {
         height:$icon-size*2;
         margin-left:$panelGap*2;
         img {
            width:$icon-size*2;
            max-height:$icon-size*2;
            @include box-shadow(0.25em 0.25em 0.25em rgba(0,0,0,.6));
         }
      }
   }
   .merchantAddress {
   }
   .merchantStats {
      font-size : $normalFontSize;
      .x-field {
         border : none;
         min-height:$form-field-height*0.6;
      }
      .x-form-label {
        padding : $form-spacing*0.6;
        border:none;
      }
      .x-input-el {
        min-height:$form-field-height*0.6;
      }
   }
}

.ptsEarnPanelHdr, .merchantFeedPanelHdr, .merchantContactPanelHdr, .merchantDescPanelHdr {
   &.x-toolbar {
      height : $global-row-height*0.75;
      @if $include-border-radius { @include border-top-radius($panelBorderRadius); }
   }
   .x-title {
      font-size:$normalFontSize;
   }
   margin:0em $panelGap;
}

.ptsEarnPanel {
   padding:$panelGap*0.5;
   //border: 1px solid darken($list-bg-color, 15%);
   @if $include-border-radius { @include border-radius($panelBorderRadius); }
   @include box-shadow(inset 0 0 0.3em rgba(0,0,0,.6));
   .x-inner {
     margin:0 !important;
     height:$icon-size;
   }
   .photo img {
      width:$icon-size;
   }
   .points {
     font-size:$xlargeFontSize*1.5;
     text-align:center;
     .x-innerhtml {
        line-height:$xlargeFontSize*1.5;
     }
   }
}

.merchantFeedPanel {
   @extend .listNoScrollWrapper;
   .listItemDetailsWrapper {
       width:13em !important;
   }
}

//------------------------------------------------------------------------------
// Rewards & Redemption Page
//------------------------------------------------------------------------------
.rewardsRedemptionsPanelHdr {
   &.x-toolbar {
      height : $global-row-height*0.75;
   }
   .x-title {
      font-size:$normalFontSize;
   }
   //margin:0em $panelGap;  
}
//------------------------------------------------------------------------------
// Rewards Page
//------------------------------------------------------------------------------
.earnPtsPanelHdr {
   &.x-toolbar { 
      height : $global-row-height*0.75;
   }
   .x-title {
      font-size:$normalFontSize;
   }
   //margin:0em $panelGap;
}
.rewardsMain, .rewardsCart {
   @extend .listScrollIndexWrapper;
   .x-inner div[id|=ext-element] {
      //@if $include-border-radius { @include border-radius($panelBorderRadius); }
   }
   &.x-list .x-list-item:last-child {
     border-bottom : 0;
   }
   .photo {
     position:static !important;
   }
}

.rewardsCart {
   .x-list-inner {
      padding:0 !important;
   }
}

.rewardsCartFooter {
   text-align:center;
   font-weight:bold;
   .points {
      text-align:right;
   }
}

//------------------------------------------------------------------------------
// Redemptions Page
//------------------------------------------------------------------------------
.redemptionsMain {
   .ptsEarnPanelHdr:first-child {
      margin-top:$panelTopGap;
   }
   .ptsEarnPanel {
      @if $include-border-radius { @include border-top-radius(0); }
      .points .x-innerhtml {
         font-size:$xlargeFontSize;
         font-weight:bold;
         line-height:$icon-size;
      }
   }
   .redemptionsList {
      @extend .listScrollIndexWrapper;
      .listItemDetailsWrapper {
         width:13em !important;
      }
   }
}

//------------------------------------------------------------------------------
// Accounts Page
//------------------------------------------------------------------------------
.merchatPrizesList {
   @extend .listScrollWrapper;
   &.x-list .x-list-item .x-list-item-label {
      .listItemDetailsWrapper {
         .itemTitle {
            line-height : $icon-size;
            font-size:$largeFontSize;
            font-weight:bold;
         }
      }
   }
}
//------------------------------------------------------------------------------
// Accounts Page
//------------------------------------------------------------------------------
.accountsMain {
   .accountsPanelHdr {
      @extend .ptsEarnPanelHdr;
   }
   .accountsPanelHdr:first-child {
      margin-top:$panelTopGap;
   }
   .accountsList {
      @extend .listScrollWrapper;
      .listItemDetailsWrapper {
         padding-left:0 !important;
         .points {
            text-align:right;
            font-size:$xlargeFontSize;
            font-weight:bold;
            line-height:$icon-size;
         }
      }
   }
}
