//------------------------------------------------------------------------------
// KickBak Theme Colors
//------------------------------------------------------------------------------
$BlueStart : #00ADEE; $BlueEnd : #0A78BE;
$OrangeStart : #E86025; $OrangeEnd : #FAA845;
$GreenStart : #42BA7C; $GreenEnd : #1A5D2F;
$BlackStart : #555658; $BlackEnd : #000000;
$BlueHomeStart : #89D7F7; $BlueHomeEnd : #00B0EF;
$BlueMask : #25AAE1;
$Grey : #F3F3F4;
$GreyNoEntry : #E7E7E8;
$GreyStart : #F3F3F4; $GreyEnd : #D1D2D4;
$GreyHdrStart : #A7A9AC; $GreyHdrEnd : #777878;
$PinkStart : #F8F8F8; $PinkEnd : #E7E7E7;
$FbBlue : #5F78AB;
//------------------------------------------------------------------------------
// Global Vars Default Theme Override
//------------------------------------------------------------------------------
//$base-color: $BlueStart;
//$base-gradient: 'smooth';
//$active-color: darken(saturate($OrangeEnd, 55%), 10%);

// Highlights
$include-highlights: true; // Can disable all theme-generated gradients, text-shadows, and box-shadows.
$include-border-radius : true;
$global-row-height: 2.6em !default;

//Buttons
//$include-buttons-uis : false;
//$include-default-icons : false;

// Forms
//$form-dark: #FFF;
//$form-light: $BlueEnd ;
//$form-field-bg-color : $Grey;
/**
 * @var {measurement} $form-spacing
 * Default spacing for form fields, used for padding, etc.
 */
$form-spacing: .6em !default;

// Lists
//$list-bg-color: $Grey;
//$list-active-gradient: 'bevel';
//$list-header-bg-color: transparentize(saturate($base-color, 10%), .25);
//$list-header-bg-color: $OrangeStart;
//$list-header-gradient: 'matte';
//$list-zebrastripe : false;
$form-field-height: 2.5em !default;

// Tabs
//$tabs-dark: #111;
//$include-toolbar-uis : false;

//------------------------------------------------------------------------------
// Global Vars Theme
//------------------------------------------------------------------------------

// Icon Reference size
$icon-size: 57px;
$icon-multiplier: 1;
// Panel Gaps
$panelGap: 0.8em;
$panelTopGap: 0.7em;
$panelBorderRadius : 0.6em;
// Font sizes
$defaultFontSize : (16px * 1.14 * 1.0);
$xsmallFontSize : 0.3em;
$smallFontSize : 0.4em;
$normalFontSize : 0.6em;
$largeFontSize : 0.8em;
$xlargeFontSize : 1.2em;

// Theme Path
$resource-path : 'http://files.getkicbak.com/mobileWeb/resources/images';
$theme-path : '../../../../resources/images/ios';
$theme-path-rel : '../images/ios';

// Badges Theme
//$badgePoints-bg-color: darken($GreenEnd, 10%);
//$badgePoints-bg-gradient: $base-gradient;

// Variables
// Mixins
@import 'sencha-touch/bb10';

// Component SASS
@import 'sencha-touch/bb10/src/Class';
@import 'sencha-touch/bb10/src/Button';
@import 'sencha-touch/bb10/src/MessageBox';
@import 'sencha-touch/bb10/src/Panel';
@import 'sencha-touch/bb10/src/Sheet';
@import 'sencha-touch/bb10/src/Toolbar';
@import 'sencha-touch/bb10/src/form/Panel';
@import 'sencha-touch/bb10/src/form/FieldSet';
@import 'sencha-touch/bb10/src/field/Field';
@import 'sencha-touch/bb10/src/picker/Picker';
@import 'sencha-touch/bb10/src/tab/Panel';


@import 'sencha-touch/kickbak/all';
