<% if notice %>
<div style="display:none;" id="notice">
	<p>
		<%= notice %>
	</p>
</div>
<% end %>
<%= form_for :admin, :url => admin_run_path do |f| %>
<table style="margin-bottom:0px;margin-top:5px;background-color:white;">
	<thead>
		<tr>
			<th>Jobs</th>
			<th>Action</th>
		</tr>
	</thead>
	<tr>
		<td>Voucher Payments</td>
		<td><%= f.submit "Run", :name => :payments, :class => "btn primary large noWrap" %></td>
	</tr>
	<tr>
		<td>Voucher Reminders</td>
		<td><%= f.submit "Run", :name => :reminders, :class => "btn primary large noWrap" %></td>
	</tr>
</table>
<% end %>
