.simple_form div.input {
	margin-bottom: 10px;
}
.simple_form input[type="text"], .simple_form input[type="tel"], .simple_form input[type="password"], .simple_form input[type="date_picker"], .simple_form input[type="email"], .simple_form textarea {
	width: 300px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
	margin-left: 160px;
}

.simple_form div.boolean label {
	float: none;
	margin: 0;
}

.simple_form span.error {
	display: block;
	margin-left: 120px;
	margin-top: 5px;
	color: red;
}
