.holderjs-fluid {
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   font-family: sans-serif;
   margin: 0
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.x-sheet, .x-sheet-action {
   padding: 0.7em;
   border-top: 1px solid #003e55;
   height: auto;
   background-image: none;
   background-color: rgba(0,25,34,0.9);
   -webkit-border-radius: 0;
   border-radius: 0;
}
.x-sheet, .x-sheet-action {
   border: none;
   background-color: #0a78be 65%;
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #00adee), color-stop(65%, #0a78be));
   background-image: -webkit-linear-gradient(top, #00adee 10%,#0a78be 65%);
   background-image: linear-gradient(top, #00adee 10%,#0a78be 65%);
}
.x-sized {
   position: relative;
}
.x-floating {
   position: absolute;
}
.x-dock.x-dock-vertical {
   -webkit-box-orient: vertical;
   box-orient: vertical;
}
.x-dock.x-sized, .x-dock.x-sized > .x-dock-body > *, .x-dock.x-sized > .x-dock-body > .x-body > .x-inner {
   width: auto;
   height: auto;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}
.x-dock {
   display: -webkit-box;
}
.x-dock, .x-dock-body {
   height: 100%;
}
.x-dock.x-sized > .x-dock-body {
   position: relative;
}
.x-dock .x-dock-body {
   display: -webkit-box;
   -webkit-box-flex: 1;
   box-flex: 1;
}
.x-dock-body {
   position: relative;
}
.x-layout-box.x-pack-center {
   -webkit-box-pack: center;
   box-pack: center;
}
.x-layout-box.x-align-stretch {
   -webkit-box-align: stretch;
   box-align: stretch;
}
.x-layout-box.x-vertical {
   -webkit-box-orient: vertical;
   box-orient: vertical;
}
.x-layout-box {
   display: -webkit-box;
}
.x-inner, .x-body {
   width: 100%;
   height: 100%;
}
.x-layout-box.x-vertical > .x-layout-box-item.x-flexed {
   height: 0 !important;
}
.x-layout-box > .x-layout-box-item {
   display: -webkit-box !important;
}
.item .title, .redeemItem .title {
   display: table;
   width: 100%;
   padding: 0 0.8em;
}
.title, .subtitle {
   font-size: 1.08em;
   font-weight: bold;
   height: 3.8em;
   text-align: center;
   color: #00adee;
   background-color: #f3f3f4;
}
.item .title .x-innerhtml, .redeemItem .title .x-innerhtml {
   display: table-cell;
   vertical-align: middle;
}
.x-innerhtml {
   width: 100%;
}
.x-layout-fit.x-stretched > .x-layout-fit-item {
   display: -webkit-box;
   -webkit-box-flex: 1;
   box-flex: 1;
}
.item .itemPhoto, .redeemItem .itemPhoto {
   width: 100%;
   height: 100%;
}
.item .itemPhoto .x-innerhtml, .redeemItem .itemPhoto .x-innerhtml {
   height: 100%;
   text-align: center;
}
.x-layout-fit-item.x-sized {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}
.photoVCenterHelper, .photoVCenterContent {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
}
.photoVCenterHelper {
   height: 100%;
   text-align: center;
}
.x-ios .item .itemPhoto .x-innerhtml img, .x-ios .redeemItem .itemPhoto .x-innerhtml img, .x-desktop .item .itemPhoto .x-innerhtml img, .x-desktop .redeemItem .itemPhoto .x-innerhtml img {
   width: 171px;
   height: 171px;
}
.thumbnail {
   text-align: center;
}
.thumbnail > li {
   display: inline-block;
   *display: inline; /* ie7 fix */
   float: none; /* this is the part that makes it work */
}
.frame {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   border-width: 0;
}
.overthrow-enabled .overthrow {
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   height: 366px;
}
.bgImage {
   background-color: #0a78be 80%;
   background-image: url("resources/themes/images/v1/ios/logohomescreen3.png"), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 80, color-stop(50%, #00adee), color-stop(80%, #0a78be));
   background-image: url("resources/themes/images/v1/ios/logohomescreen3.png"), -webkit-radial-gradient(center center, #00adee 50%,#0a78be 80%);
   background-image: url("resources/themes/images/v1/ios/logohomescreen3.png"), radial-gradient(center center, #00adee 50%,#0a78be 80%);
   background-position: center center;
   -webkit-background-size: contain;
   background-size: contain;
   background-repeat: no-repeat;
}
#createaccountpageview-top-wrapper {
   position: absolute;
   margin-top: 20px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
}
#createaccountpageview-bottom-wrapper {
   position: absolute;
   height: 50px;
   bottom: 8px;
   left: 0;
   right: 0;
   z-index: 1;
}
#earnptstpageview {
   position: absolute;
   margin-top: 20px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
}
