<ul class="nav nav-pills nav-stacked">
	<li>
		<%= link_to 'Basic Info', account_path %>
	</li>
	<li>
		<%= link_to 'Update Password', account_password_path %>
	</li>
	<li>
		<%= link_to 'Facebook Settings', facebook_settings_path %>
	</li>
	<li>
		<%= link_to 'Email Notifications', account_subscriptions_path %>
	</li>
</ul>

