<ul class="nav nav-pills nav-stacked">
	<li>
		<%= link_to 'Basic Settings', account_path %>
	</li>
	<li>
		<%= link_to 'Facebook Settings', facebook_settings_path %>
	</li>
	<li>
		<%= link_to 'Email Notifications', subscriptions_path %>
	</li>
</ul>

