<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/business/base.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span6">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-briefcase"></i>
                     <h3>Features</h3>
                  </div>
                  <div class="widget-content">
                     <li><%= link_to("Change Photo", account_photo_path) %></li>
                     <li><%= link_to("Change Reward Model", reward_model_path) %></li>
                     <li><%= link_to("Promotions", promotions_path) %></li>
                     <li><%= link_to("Invoices", invoices_path) %></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
