<div class="content row">
<div><a href="<%= account_photo_path %>">Change Photo</a></div>
<div><a href="<%= reward_model_path %>">Change Reward Model</a></div>
<div><a href="<%= invoices_path %>">Invoices</a></div>
</div>
