//------------------------------------------------------------------------------
// Utility CSS
//------------------------------------------------------------------------------
.wrap {
   white-space:normal !important;  
}
.noWrap {
   white-space:nowrap !important;
} 
.x-button-icon.dummymask {
   width: 1.3em;
   height: 1.3em;
}


.shadows {
   @if $include-highlights {
      @include box-shadow(0 0 0.2em rgba(0,0,0,.6));
   }
}
.bold {
   font-weight:bold;
}

.round {
   @if $include-border-radius { @include border-radius($panelBorderRadius); }
}

.panelHdr {
   &.x-toolbar {
      height : $global-row-height*0.75;
      @if $include-border-radius { @include border-top-radius($panelBorderRadius); }
   }
   .x-title {
      font-size:$normalFontSize;
   }
   margin:0em $panelGap;
}

.wrap {
   .x-button-label {
      white-space:normal !important;
   }
}

.plain {
   &.x-button, &.x-toolbar .x-button {
      background:none;
      border:none;
   }
}

.clientPhotoCache {
   background-image : theme_image($theme-path, "green_roulette_bg" + ".png"), theme_image($theme-path, "roulette2" + ".png"), theme_image($theme-path, "ball" + ".png");
   width:1px;
   height:1px;
   display:none;
}

.serverPhotoCache {
   width:1px;
   height:1px;
   display:none;
}
