<% content_for :script do %> <script type="text/javascript" src="/javascripts/desktop/src/purchase.js"></script>
<% end %> <!-- Example row of columns -->
<form >
	<div class="row" style="margin-top:100px;">
		<div id="highlights" class="span24">
			<h2>Your Purchase Choices</h2>
			<div class="purchase panelBodyHighlights">
				<table>
					<thead>
						<tr>
							<th style="visibility:hidden;" class="">
							<input type="radio" name="couponValue" value="0"/>
							</th>
							<th class="green span16">Description</th>
							<th class="green span2">Quantity</th>
							<th class="green span1">&#160;</th>
							<th class="green span2">Price</th>
							<th class="green span1">&#160;</th>
							<th class="green span2">Total</th>
						</tr>
					</thead>
					<tr>
						<td class="span1">
						<input type="radio" name="couponValue" value="100"  checked="1"/>
						</td>
						<td class="span16">$100 Coupon for C$80 at 20% Discount</td>
						<td class="span2">
						<input name="quantity1" value="1"/>
						</td>
						<td class="span1">x</td>
						<td class="span2">C$80</td>
						<td class="span1">=</td>
						<td class="span2">C$80</td>
					</tr>
					<tr>
						<td class="span1">
						<input type="radio" name="couponValue" value="50"/>
						</td>
						<td class="span14">$50 Coupon for C$40 at 20% Discount</td>
						<td class="span2">
						<input name="quantity1"/>
						</td>
						<td class="span1">x</td>
						<td class="span2">C$40</td>
						<td class="span1">=</td>
						<td class="span2">&#160;</td>
					</tr>
					<tr>
						<td class="span1">
						<input type="radio" name="couponValue" value="25"/>
						</td>
						<td class="span16">$25 Coupon for C$20 at 20% Discount</td>
						<td class="span2">
						<input name="quantity3"/>
						</td>
						<td class="span1">x</td>
						<td class="span2">C$20</td>
						<td class="span1">=</td>
						<td class="span2">&#160;</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="highlights" class="span24">
			<h2>Select Your Payment Method</h2>
			<div class="payment panelBodyHighlights">
				<table>
					<thead>
						<tr>
							<th style="visibility:hidden;" class="">
							<input type="radio" name="payMethod" value="none"/>
							</th>
							<th class="green span14">Method</th>
							<th class="span8" style="visibility:hidden;">&#160;</th>
						</tr>
					</thead>
					<tr>
						<td class="">
						<input type="radio" name="payMethod" value="PayPal" checked="1"/>
						</td>
						<td class="span14">PayPal or Credit Card</td>
						<td class="span4" style="visibility:hidden;">&#160;</td>
						<td class="span4"><a id="payPayPal" class="btn primary large noWrap">Complete Order</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</form>