<table>
	<tr>
		<td>JustForMyFriends</td>
		<td><%= @reward_code %></td>
	</tr>
	<tr>
		<td><%= @deal.expiry_date %></td>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<td><img src="<%= @qr_code %>"></td>
		<td></td>
	</tr>
</table>