<div class="row">
   <div class="span32">
      <div class="hero-unit">
         <h3>Thanks for your purchase!</h3>
         <p>
            A email confirmation will be sent to you email account shortly.
         </p>
         <p style="text-align:center;margin-top:50px;font-weight:bold;">
            <a href="/" class="btn large">Back to Main »</a>
         </p>
      </div>
   </div>
</div>
</div>