<% content_for :meta do %> <title>Kickbak - About Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<% end %>
<% content_for :link do %>
<% end %>

<section id="slider">
	<div class="flexslider">
		<ul class="slides">
			<!-- Slide -->
			<li>
				<img src="https://s3.amazonaws.com/files.getkickbak.com/v1/main_desktop/images/about-banner.jpg" alt="">
			</li>
		</ul>
	</div><!-- /flexslider -->
</section><!-- #slider -->

<div class="container">
	<div class="row">
		<div class="span12">
			<br>
			<h2>OUR STORY</h2>
		</div>
		<div class="span6">
			<p>
				We love daily deals and group discounts as much as the next guy, but we saw a problem for local merchants like you.  After the deals were over, we never went back. Neither did anyone we knew.  So we started talking about how we could do more to support local businesses. You know, the coffee shops, pizza places, and stores like yours that we went to all the time.
			</p>
		</div>
		<div class="span6">
			<p>
				We wanted to help them move beyond one-hit promos. We wanted to help them get to know their customers better and keep them coming back the way big brands do.  So, with no love lost for the corporate worlds we came from, we decided to take our complementary technology skills and join forces.
			</p>
			<br>
		</div><!-- /span12 -->
		<div class="span12">
			<p>
				<b>The result is Kickbak, the loyalty program that lets local businesses like yours reward customers to keep them coming back for more.</b>
			</p>
			<br>
			<br>
		</div>

	</div><!-- /row -->
</div>
<!-- /container -->

