<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kickbak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    
  	<!-- Google Fonts call. Font Used Open Sans & Open Sans Condensed -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>    
    
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="assets/images/logo.png" alt="KickBak"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            	<li class="dropdown">
            		<a href="index.html">Home</a>
            	</li>
            	<!-- commenting out to save dropdown code -->
				<!--li class="dropdown">
            		<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    	<li><a href="about.html">About Page Ver. 1</a></li>
                    </ul>
            	</li-->
            	<li class="dropdown">
            		<a href="about-us.html">About Us</a>
            	</li>
            	<li class="dropdown">
            		<a href="for-business.html">For Business</a>
            	</li>
            	<li class="dropdown">
            		<a href="find-locations.html">Find Locations</a>
            	</li>
            	<li class="dropdown">
            		<a href="faq.html">FAQ</a>
            	</li>
            	<li class="dropdown active">
            		<a href="blog.html">Blog</a>
            	</li>
            	<li class="dropdown">
            		<a href="contact-us.html">Contact Us</a>
            	</li>
            	<li class="nav-sign-up">
            		<a href="login.html">Login</a>
            	</li>
				<li class="nav-sign-up">
            		<a href="sign-up.html">Sign-Up</a>
            	</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    

	<h1>Keep up-to-date with the latest news.</h1>
    <div class="container">
    	<div class="row">
			
    		<br>
    		<div class="span8 blog">
            <!-- Blog Post 1 -->
	            <article>
	                <h2>HERE IS A LONGER POST TITLE TO FILL UP SPACE</h2>
	                <div class="post-content">
	                    <a href="#"><img src="assets/img/blog/blogbig01.jpg" alt="Post Thumb"></a>
	
	                    <div class="post-body">
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie.</p>
	                        <p class="well"><a href="#" rel="tooltip" title="An important message">Proin tristique</a> tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
	                        <p> Nam sit amet felis non lorem faucibus rhoncus vitae id dui. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
	                       <blockquote>
	                            Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat.
	                       </blockquote>
	                       <p>Nam sit amet felis non lorem faucibus rhoncus vitae id dui.Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
	                    </div><!-- post body -->
	
	                    <div class="post-summary-footer">
	                        <ul class="post-data">
	                            <li><i class="icon-calendar"></i> 02/04/13</li>
	                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
	                            <li><i class="icon-comment"></i> <a href="#">3 Comments</a></li>
	                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">design</a>, <a href="#">wordpress</a></li>
	                        </ul>
	                    </div><!-- post summary footer -->
	                </div><!-- post content -->
	            </article>
	
	            <!-- About the Author -->
	            <section class="post-content">
	                <div class="post-body about-author">
	                    <img src="assets/img/pic2.jpg"alt="author">
	                    <h3>About Marcel Newman</h3>
	                    <p>Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget.</p>
	                </div><!-- post body -->
	            </section>
	
	        <!-- Post Comments
	        ================================================== --> 
	            <section class="comments">
	                <h4 class="title-bg"><a name="comments"></a>3 Comments so far</h4>
	               <ul>
	                    <li><!-- comment -->
	                        <img src="assets/img/user-avatar.jpg" alt="Image">
	                        <span class="comment-name">William Lawsons</span>
	                        <span class="comment-date">January 11, 2013 | <a href="#">Reply</a></span>
	                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
	                        <!-- Reply -->
	                        <ul>
	                            <li><!-- comment -->
	                                <img src="assets/img/user-avatar.jpg" alt="Image">
	                                <span class="comment-name">Jack Daniells</span>
	                                <span class="comment-date">January 11, 2013 | <a href="#">Reply</a></span>
	                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
	                                </li>
	                             <li><!-- comment -->
	                                <img src="assets/img/user-avatar.jpg" alt="Image">
	                                <span class="comment-name">Jameson</span>
	                                <span class="comment-date">January 13, 2013 | <a href="#">Reply</a></span>
	                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
	                                </li>
	                         </ul><!--ul comments reply -->
	                    </li><!-- comment -->
	               </ul>
	            
	        </section><!-- Close comments section-->
    		</div><!-- /span8 -->
    		
    		<!-- /////SIDEBAR///// -->
    		
    		<div class="span4 sidebar">
	            <!--Categories-->
	            <h4 class="title-bg">Categories</h4>
	            <ul class="post-category-list">
	                <li><a href="#"><i class="icon-plus-sign"></i>Design</a></li>
	                <li><a href="#"><i class="icon-plus-sign"></i>Photoshop</a></li>
	                <li><a href="#"><i class="icon-plus-sign"></i>HTML</a></li>
	                <li><a href="#"><i class="icon-plus-sign"></i>Wordpress</a></li>
	            </ul>
	            <br>
	            <br>
	
	            <!--Popular Posts-->
	            <h4 class="title-bg">Latest Posts</h4>
	            <ul class="popular-posts">
	                <li>
	                    <a href="#"><img src="assets/img/blog/thumb01.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 02/21/13</em>
	                </li>
	                <li>
	                    <a href="#"><img src="assets/img/blog/thumb02.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 03/01/13</em>
	                <li>
	                    <a href="#"><img src="assets/img/blog/thumb03.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 05/16/13</em>
	                </li>
	            </ul>
	
	            <!--Tabbed Content-->
	            <h4 class="title-bg">More Info</h4>
	            <ul class="nav nav-tabs">
	                <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
	                <li><a href="#tweets" data-toggle="tab">Tweets</a></li>
	                <li><a href="#about" data-toggle="tab">About</a></li>
	            </ul>
	
	            <div class="tab-content">
	                <div class="tab-pane active" id="comments">
	                     <ul>
	                        <li><i class="icon-comment"></i>admin on <a href="#">Project 1</a></li>
	                        <li><i class="icon-comment"></i>admin on <a href="#">Project 2</a></li>
	                        <li><i class="icon-comment"></i>admin on <a href="#">Project 3</a></li>
	                    </ul>
	                </div>
	                <div class="tab-pane" id="tweets">
	                    <ul>
	                        <li><a href="#"><i class="icon-comment"></i>@Basicoh_</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	                        <li><a href="#"><i class="icon-comment"></i>@Basicoh_</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. </li>
	                        <li><a href="#"><i class="icon-comment"></i>@Basicoh_</a> Vivamus nec lectus sed orci molestie molestie.</li>
	                    </ul>
	                </div>
	                <div class="tab-pane" id="about">
	                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie.</p>
	                </div>
	            </div>
				<br>
	            <!--Video Widget-->
	            <h4 class="title-bg">Video Widget</h4>
				<iframe src="http://player.vimeo.com/video/44049449" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	        </div><!-- /span4 -->
    		<br>
    		<br>
    	</div><!-- /row -->
    </div><!-- /container -->

	<div id="footerwrap">
	<p class="footer-links">
		<a href="index.html" title="Home" rel="nofollow">Home</a>
		<a href="about-us.html" title="About Us" rel="nofollow">About Us</a>
		<a href="for-business.html" title="For Business" rel="nofollow">For Business</a>
		<a href="find-locations.html" title="Find Locations" rel="nofollow">Find Locations</a>
		<a href="faq.html" title="FAQ" rel="nofollow">FAQ</a>
		<a href="blog.html" title="Blog" rel="nofollow">Blog</a>
		<a href="contact-us.html" title="Contact Us" rel="nofollow">Contact Us</a>
		<a href="login.html" title="Login" rel="nofollow">Login</a>
		<a href="sign-up.html" title="Sign-Up" rel="nofollow">Sign-Up</a>
	</p>
	<br>
	
	<br>
	<div class="social_icons">
		<a href="#"><img src="assets/img/social/white/dribbble.png" width="30" height="30" alt="Dribbble"></a>
		<a href="#"><img src="assets/img/social/white/facebook.png" width="30" height="30" alt="Facebook"></a>
		<a href="#"><img src="assets/img/social/white/gplus.png" width="30" height="30" alt="GooglePlus"></a>
		<a href="#"><img src="assets/img/social/white/instagram.png" width="30" height="30" alt="Instagram"></a>
		<a href="#"><img src="assets/img/social/white/linkedin.png" width="30" height="30" alt="LinkedIn"></a>
		<a href="#"><img src="assets/img/social/white/pinterest.png" width="30" height="30" alt="Pinterest"></a>
		<a href="#"><img src="assets/img/social/white/twitter.png" width="30" height="30" alt="Twitter"></a>
	</div><!-- End of social icons -->

	
	</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

  </body>
</html>
