<% content_for :meta do %> 
<title>Kickbak - FAQ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<% end %>
<% content_for :link do %>
<% end %>

<h1>Frequently Asked Questions</h1>

<div class="container">
	<div class="row">

		<div class="span3 middle">
			<br>
			<p>
				Can not find the answers that you need? Please, feel free to contact us:
			</p>
			<p>
				<a href="mailto:support@kickbak.com" title="E-Mail Us">support@kickbak.com</a>
			</p>
		</div><!-- /span3 -->
		<br>

		<div class="span4 faq">
			<div class="accordion" id="accordion2">
				<h3>GENERAL FAQ</h3>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"> + What is Kickbak? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse1" class="accordion-body collapse in">
						<div class="accordion-inner">
							<p>
								Kickbak is a universal loyalty program that gives you rewards from merchants in your local area.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"> + How do I become a member? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse2" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Pick up a card from any of our participating businesses and sign up with your phone number when you make a purchase. Or sign up when you visit getkickbak.com on your mobile phone or download the Kickbak app.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"> + How do I earn Kickbak points? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse3" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								You earn points whenever you make a purchase at a participating Kickbak store. Simply give your card to the cashier or use our app. Don't have your card or phone with you? No problem. Just give them your phone number.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14"> + How do I know if I've earned a reward? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse14" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								If you've earned a reward, we'll email you if you registered a valid email address or text you if you registered with a mobile number.  The cashier or waiter will also let you know when you visit the participating Kickbak store where you earned the reward.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4"> + How do I redeem a reward? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse4" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								The next time you visit a store and give your card or mobile number, they'll be notified that you're eligible for a reward and you can redeem it from them.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5"> + Can I register multiple cards with the same account? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse5" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Yes.  Pick up a new card at any of our businesses and give it to the cashier when you make a purchase to register your card.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6"> + I lost my card. How do I get a new one? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse6" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								To get a new Kickbak card, visit the nearest participating business and pick up a replacement card. Then sign into the Kickbak website to register the card to your account. Lastly, make sure you deregister the lost card.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7"> + Do my points expire? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse7" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Absolutely not!  Your points will continue as long as the business remains with Kickbak.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->
			</div>
		</div>

		<div class="span5 faq">
			<div class="accordion" id="accordion2">
				<h3>ACCOUNT FAQ</h3>

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8"> + I've been using the card, but I want to use the app.  What do I do? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse8" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Once you've downloaded the app, sign in using the same information (email and password) that you registered your card with the first time.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9"> + I've been using the app, but I want a card too.  Can I use both? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse9" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Of course!  Just pick up a card at any Kickbak store location.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10"> + How do I see my points? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse10" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								You can see your points on the website and mobile app after you sign in.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11"> + How do I change my phone number? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse11" class="accordion-body collapse">
						<div class="accordion-inner">
							<ol>
								<li>
									Sign into the website
								</li>
								<li>
									Click on your name at the top right corner
								</li>
								<li>
									Click "Basic Info"
								</li>
								<li>
									Enter your new phone number and click "Update"
								</li>
							</ol>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12"> + How do I change my email? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse12" class="accordion-body collapse">
						<div class="accordion-inner">
							<ol>
								<li>
									Sign into the website
								</li>
								<li>
									Click on your name at the top right corner
								</li>
								<li>
									Click "Basic Info"
								</li>
								<li>
									Enter your new email address and click "Update"
								</li>
							</ol>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13"> + I forgot my password.  What do I do? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse13" class="accordion-body collapse">
						<div class="accordion-inner">
							<ol>
								<li>
									Click "Sign In" at the top right corner
								</li>
								<li>
									Click "Forgot your password?" and follow the instructions to reset your password.
								</li>
							</ol>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15"> + How do I register my Kickbak card? </a>
					</div><!-- /accordion-heading -->
					<div id="collapse15" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Registering is easy! Just take your card to any participating Kickbak store and give it and your phone number to the casher when you make a purchase.
							</p>
						</div><!-- /accordion-inner -->
					</div><!-- /collapse -->
				</div><!-- /accordion-group -->

			</div><!-- /accordion -->
		</div><!-- /span9 -->
	</div><!-- /row -->
	<br>
	<br>
</div><!-- /container -->

