<% content_for :script do %>
<script type="text/javascript">
   _logout = function()
   {
   };
   _login = function()
   {
   };

</script>
<% end %>
<div class="row">
   <div class="span32">
      <h2>How does it all work?</h2>
      <div class="hero-unit description_header">
         <h3></h3>
         <p>
         </p>
      </div>
   </div>
</div>
<div class="row">
   <div class="span12">
      <h2>Recommend to Friends</h2>
      <div class="panelBodyHighlights">
         <p>
         </p>
      </div>
   </div>
   <div class="span10">
      <h2>Click to Buy</h2>
      <div class="panelBodyHighlights">
         <p>
         </p>
      </div>
   </div>
   <div class="span10">
      <h2>Get Rewarded</h2>
      <div class="panelBodyHighlights">
         <p>
         </p>
      </div>
   </div>
</div>