<div class="row">
   <div class="span12">
      <h2>Recommend to Friends</h2>
      <div class="panelBodyHighlights">
         <p>
         	Share your love of a great local business and recommend it to your friends. 
         </p>
      </div>
   </div>
   <div class="span10">
      <h2>Get Rewarded</h2>
      <div class="panelBodyHighlights">
         <p>
         	JustForMyFriends rewards its customers for making a wonderful recommendation with a nice little gift. Our way to say thanks!
         </p>
      </div>
   </div>
   <div class="span10">
      <h2>Buy It</h2>
      <div class="panelBodyHighlights">
         <p>
         	Once you made a referral, you can take advantage of a special promotion being offered by the local business.
         </p>
      </div>
   </div>
</div>