<div class="row">
   <div class="span12">
      <h2>Recommend to Friends</h2>
      <div class="panelBodyHighlights">
         <p>
         	Share your love of a great local business and recommend it to your friends.  Everyone will benefit from your discovery!  Honestly, who doesn't appreciate a good referral?
         </p>
         <img  class="alignCenter" style="display:block;" src="http://photos.justformyfriends.com/recommend.png"/>
      </div>
   </div>
   <div class="span12">
      <h2>Get Rewarded</h2>
      <div class="panelBodyHighlights">
         <p>
         	JustForMyFriends rewards its customers for making a wonderful recommendation with a nice little gift.  Just our way of saying THANKS!
         </p>
         <img class="alignCenter" style="display:block;" src="http://photos.justformyfriends.com/trophy.png"/>
      </div>
   </div>
   <div class="span12">
      <h2>Buy It</h2>
      <div class="panelBodyHighlights">
         <p>
         	Once you made a referral, you can take advantage of a special promotion being offered by the local business.  It is a win-win for everyone :)
         </p>
         <img class="alignCenter" style="display:block;" src="http://photos.justformyfriends.com/buy-now.png"/>
      </div>
   </div>
</div>