<div class="row">
   <div class="span32">
      <h2>How does it all work?</h2>
      <div class="hero-unit description_header">
         <h3>Referrals are the best ways to find the best deals that matter to you. </h3>
         <p>
            At JustsForMyFriends, we believe that finding the right man for the job sometimes require a helping hand from your circle of friends. 
         </p>
      </div>
   </div>
</div>
<div class="row">
   <div class="span10">
      <h2>The Daily Deal</h2>
      <div class="panelBodyHighlights">
         <p>
            Each day, we send you one deeply discounted deal to use at local businesses. Sign up to get our daily email.
         </p>
      </div>
   </div>
   <div class="span10">
      <h2>Click to Buy</h2>
      <div class="panelBodyHighlights">
         <p>
            Purchase our daily deals with one easy click. You will receive a link to your voucher the next business day. It's that simple!
         </p>
      </div>
   </div>
   <div class="span12">
      <h2>Share for a Free Deal</h2>
      <div class="panelBodyHighlights">
         <p>
            After you buy the deal, you'll get a unique link to share. If three people buy the deal using your link, then your deal is <strong>free</strong>.
         </p>
      </div>
   </div>
</div>
</div>