<% content_for :meta do %> 
<title>Kickbak</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<% end %>
<% content_for :link do %>
<% end %>

<div id="carouselwrap">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<img src="https://s3.amazonaws.com/files.getkickbak.com/v1/main_desktop/images/banner01d.jpg" alt="">
			</div>

		</div>
	</div><!-- myCarousel -->
</div><!-- /carouselwrap -->

<br class="hidden-phone">
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="rightline">
				<h3 class="intro">The Kickbak loyalty program rewards customers for doing business with you.<a href="/business" title="Learn More" class="kick-button">Learn More</a></h3>
			</div><!-- /rightline -->
		</div><!-- /span4 -->
	</div>
	<br>
	<hr>
	<br>
	<div class="row app-buttons">
		<div class="span3">
		</div>
		<div class="span3">
			<center>
				<a href="https://play.google.com/store/apps/details?id=com.getkickbak.kickbak" title="Download Kickbak App from Google Play"> <img class="googleplay" src="https://s3.amazonaws.com/files.getkickbak.com/v1/main_desktop/images/googleplay_button.png" alt="Google Play App"/> </a>
			</center>
		</div>
		<div class="span3">
			<center>
				<a href="http://itunes.apple.com/us/app/kickbak-inc/id537476722?ls=1&mt=8" title="Download Kickbak from App Store"> <img class="appstore" src="https://s3.amazonaws.com/files.getkickbak.com/v1/main_desktop/images/appstore_button.png" alt="App Store"/> </a>
			</center>
		</div>
		<div class="span3">
		</div>
	</div>
</div>
<!-- /container -->
<br>
