<% content_for :link do %> <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage-ie8.css"/>
<![endif]-->
<style type="text/css">
   a {
      color : inherit;
   }
   #page-background {
      display : block;
   }
</style>
<% end %>
<% content_for :background do %>
<div id="page-background-bottom">
   <img src="https://files.getkickbak.com/v1/contentbg.png">
</div>
<div id="page-background">
   <img src="https://files.getkickbak.com/v1/contentbg.png">
</div>
<% end %>
<% content_for :script do %>
<!-- -->
<script type="text/javascript">
   $(document).ready(function()
   {
      $('#privacy').load('/javascripts/mobile/privacy.htm');
   }); 
</script>
<% end %>

<div id="main" class="container">
   <div class="row">
      <div id="privacy" class="span12" style="padding:30px 0;"></div>
   </div>
</div>
