<% content_for :link do %> <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage-ie8.css"/>
<![endif]-->
<style type="text/css">
   a {
      color : inherit;
   }
   #page-background {
      display : block;
   }
</style>
<% end %>
<% content_for :background do %>
<div id="page-background-bottom">
   <img src="https://s3.amazonaws.com/files.getkickbak.com/v1/contentbg.png">
</div>
<div id="page-background">
   <img src="https://s3.amazonaws.com/files.getkickbak.com/v1/contentbg.png">
</div>
<% end %>
<% content_for :script do %>
<!-- -->
<script type="text/javascript">
   $(document).ready(function()
   {
      $('#terms_of_service').load('/javascripts/mobile/term_of_service.htm');
      $('#program_rules').load('/javascripts/mobile/program_rules.htm');
      if (window.matchMedia("(min-width: 767px)").matches)
      {
         $('div.tabbable').addClass('tabs-left');
      }
      $(window).resize(function()
      {
         var matches = window.matchMedia("(min-width: 767px)").matches;
         var length = $('div.tabbable.tabs-left').length;
         if (matches && (length == 0))
         {
            $('div.tabbable').addClass('tabs-left');
         }
         else
         if (!matches && (length > 0))
         {
            $('div.tabbable').removeClass('tabs-left');
         }
      });
   }); 
</script>
<% end %>

<div id="main" class="container">
   <div class="row">
      <div class="span12" style="padding:30px 0;">
         <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
               <li class="active"><a href="#terms_of_service" data-toggle="tab">Terms of Service</a></li>
               <li><a href="#program_rules" data-toggle="tab">Program Rules</a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane active" id="terms_of_service"></div>
               <div class="tab-pane" id="program_rules"></div>
            </div>
         </div>
      </div>
   </div>
</div>
