<% content_for :link do %>
<style type="text/css">
   body {
      height : 100%;
      width : 100%;
   }
   body::after {
      background : none;
   }
</style>
<% end %>
<% content_for :script do %>
<!-- -->
<script type="text/javascript">
   $(document).ready(function()
   {
      $('#terms_of_service').load('/javascripts/mobile/term_of_service.htm');
   }); 
</script>
<% end %>

<div class="container">
   <div class="row">
      <div id="terms_of_service" class="span12" style="padding:10px;"></div>
   </div>
</div>
<div id="page-background"><img src="http://files.getkickbak.com/v1/contentbg.png"></div>
