
#page-background-top {
   display : none;
}

#page-background-bottom {
   position : absolute;
   z-index : -99999;
   top : 48px;
   left : 0;
   width : 100%;
   height : 1030px;
   text-align : center;
   -webkit-user-select : none;
   -khtml-user-select : none;
   -moz-user-select : none;
   -o-user-select : none;
   user-select : none;
   overflow : hidden;
}

#page-background-bottom img {
   display : block;
   margin : auto;
   min-width : 1600px;
}

#page-background {
   display : none;
   position : fixed;
   z-index : -99999;
   top : -50%;
   left : -50%;
   width : 200%;
   height : 200%;
   -webkit-user-select : none;
   -khtml-user-select : none;
   -moz-user-select : none;
   -o-user-select : none;
   user-select : none;
}

#page-background img {
   position : absolute;
   z-index : -99999;
   top : 0;
   left : 0;
   right : 0;
   bottom : 0;
   margin : auto;
   min-width : 50%;
   min-height : 50%;
}

#videogallery {
   margin-top:-50px;
   width: 400px;
   height: 400px;
   float:right;
   position : relative;
   z-index: 0;
   background : url(/javascripts/desktop/img/watch_video.jpg) no-repeat center;
   background-size : contain;
   -ms-behavior: url(/javascripts/desktop/css/backgroundsize.min.htc);
}
#videogallery a {
   position : absolute;
   z-index : 1;
   top : 50%;
   left : 50%;
   margin-top : -13px;
   margin-left : -13px;
}

#videogallery a img {
   width: auto;
   position:static;
}
/* *****************************************************************
 * ContactUs Slogan
 * *****************************************************************/
.createSlogan {
   width : 250px;
   margin-left : 0px;
}

.createForm {
   min-height:520px;
}

.span_field {
  width : 270px;
}

.btn {
  background-image : none;
  background-color : transparent !important;
}

.sendButton {
   margin-top:50px;
   margin-bottom:100px;
   text-align:right;
}