/* *****************************************************************
 * NavigationBar
 * *****************************************************************/
body {
   background-color : white;
}

.main {
   min-height : 600px;
}

.navbar .brand {
   width : 100px;
   height : 20px;
   background : url(http://files.getkickbak.com/v1/logo.png) center center no-repeat;
   background-size : 100px;
}
.navbar-fixed-top .navbar-inner {
   -ms-filter : none;
   filter : none;
   background : url(http://files.getkickbak.com/v1/header.png) 0 0 repeat-x;
   background-size : 100% 100%;
}
.navbar-fixed-top, .navbar-fixed-bottom {
   position : static;
}
.navbar-fixed-bottom .navbar-inner {
   -ms-filter : none;
   filter : none;
   background : url(http://files.getkickbak.com/v1/footer.png) repeat-x;
   background-size : 100% 100%;
}

.navbar .nav > li > a {
   color : #F2F2F2;
}

/* *****************************************************************
 * Misc CSS Functions
 * *****************************************************************/
.hidden {
   display : none;
}

.alert {
   margin-top : 10px;
}

.controls > .radio:first-child, .controls > .checkbox:nth-of-type(1) {
   padding-top:5px;
}

@media (min-width : 768px) and (max-width : 1200px) {
   .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
      display : block;
      width : 100%;
      min-height : 28px;
      -webkit-box-sizing : border-box;
      -moz-box-sizing : border-box;
      -ms-box-sizing : border-box;
      box-sizing : border-box;
   }
}

input[type="file"] {
	padding : 5px 0;
	height : 18px;	
}

.not-edit label {
	font-weight: bold;
	text-align: left !important;
}

.not-edit .control-group {
	margin-bottom : 9px;
}

.not-edit .controls {
	padding-top : 5px;
	line-height: 18px;
}

.table .no-data {
	text-align : center;
	font-weight : bold;
	font-size : 1.7em;
	height : 500px;
}

.paginate {
	text-align: right;
	margin-right: 10px;
}
