/* *****************************************************************
 * NavigationBar
 * *****************************************************************/

.navbar .brand {
   width : 100px;
   background : url(http://files.getkickbak.com/v1/logo.png) center center no-repeat;
   background-size : 100px;
}
.navbar-fixed-top .navbar-inner {
   background : url(http://files.getkickbak.com/v1/header.png) 0 -50px repeat-x;
}
.navbar-fixed-top, .navbar-fixed-bottom {
   position : static;
}
.navbar-fixed-bottom .navbar-inner {
   background : url(http://files.getkickbak.com/v1/footer.png) repeat-x;
   background-size : 100% 100%;
}

/* *****************************************************************
 * Misc CSS Functions
 * *****************************************************************/
.hidden {
   display : none;
}

.alert {
   margin-top: 10px;
}
