body {
   background : transparent url(http://files.getkickbak.com/v1/contentbg.png) center 63px no-repeat;
   background-size : 100% 100%;
}

.navbar-fixed-top .navbar-inner {
}

/* sprites.less reset */
[class^="icon-"], [class*=" icon-"] {
   display : inline;
   width : auto;
   height : auto;
   line-height : inherit;
   vertical-align : baseline;
   background-image : none;
   background-position : 0% 0%;
   background-repeat : repeat;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
   line-height: 16px;
}
