<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
   <head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# justformyfriends:http://ogp.me/ns/fb/justformyfriends#">
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <meta property="fb:admins" content="725565520"/>
      <meta property="fb:app_id" content="197968780267830"/>
      <meta property="og:type" content="justformyfriends:business" />
      <meta property="og:site_name" content="JustForMyFriends"/>
      <title>JustForMyFriends</title>
      <link rel="icon" href="http://photos.justformyfriends.com/favicon.ico" type="image/x-icon">
      <link rel="shortcut icon" href="http://photos.justformyfriends.com/favicon.ico" type="image/x-icon">
      <link rel="stylesheet/less" href="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/lib/bootstrap.less"/>
      <link rel="stylesheet" href="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/docs/assets/css/docs.css"/>
      <link rel="stylesheet" href="/stylesheets/application.css"/>
      <script type="text/javascript" src="/javascripts/desktop/lib/date.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/Datejs-all/src/extras.js"></script>
      <script type="text/javascript">
         var clientTime = new Date();
         var _login = function()
         {
         };
         var _logout = function()
         {
         };

      </script>
      <script type="text/javascript" src="/javascripts/desktop/less-1.1.4.min.js"></script>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&amp;sensor=true"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
      <script type="text/javascript" src="/javascripts/jquery_ujs.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/cubiq-iscroll-8165866/src/iscroll.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/js/bootstrap-modal.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/js/bootstrap-alerts.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/js/bootstrap-dropdown.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-e4993fc/js/bootstrap-tabs.js"></script>
      <script type="text/javascript" src="/javascripts/application.js"></script>
      <script type="text/javascript" src="/javascripts/desktop//lib/fridek-gmap-f5658d5/jquery.gmap.min.js"></script>
      <script type="text/javascript" src="/javascripts/desktop//lib/Slides/source/slides.min.jquery.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/carhartl-jquery-cookie-575a419/jquery.cookie.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/src/common.js"></script>
   </head>
   <body style="padding:10px;">
      <div class="clearfix" style="padding:5px;">
         &#160;
      </div>
      <div class="promoBanner" style="width:700px;position:relative;padding:0 20px;text-align:center;">
         <a href="/deals/the-runners-shop?secret_code=PROMO2011">
         <img class="right" style="margin-top:18px;margin-right:40px;" src="http://photos.justformyfriends.com/trophy.png">
         </a>
         <h3 style="padding:13px 0 28px 0;font-size:250%;line-height:50px;">REFER A FRIEND
            <br/>
            GET A <span style="color:red">FREE</span> GIFT
            <br/>
            <a class="btn rewardTag promoBtn" href="/deals/the-runners-shop?secret_code=PROMO2011">
            <img src="http://photos.justformyfriends.com/favicon.ico">
            Find Out More &raquo</a></h3>
      </div>
      <div class="clearfix" style="padding:5px;">
         &#160;
      </div>
      <div class="promoBanner" style="width:300px;position:relative;padding:0 20px;text-align:center;">
         <h3 style="padding:20px 0;font-size:250%;line-height:40px;">REFER A FRIEND
            <br/>
            <a href="/deals/the-runners-shop?secret_code=PROMO2011">
            <img class="center" src="http://photos.justformyfriends.com/recommend.png">
            </a> GET A <span style="color:red">FREE</span> GIFT <a class="btn rewardTag promoBtn" style="margin-top:10px;" href="/deals/runnersshop?secret_code=DEMO">
            <img src="http://photos.justformyfriends.com/favicon.ico">
            Find Out More &raquo</a></h3>
      </div>
      <!--
      Running Clinic Referral
      -->
      <div class="clearfix" style="padding:5px;">
         &#160;
      </div>
      <div class="promoBanner2" style="width:700px;position:relative;padding:0 20px;">
         <a class="btn rewardTag promoBtn" style="position:absolute;top:170px;left:550px;" href="/deals/runnersshop?secret_code=DEMO">
         <img src="http://photos.justformyfriends.com/favicon.ico">
         Find Out More &raquo</a>
         <h3 style="padding-top:13px;font-size:250%;line-height:50px;">REFER A FRIEND, GET <span style="color:red;">$25 OFF</span></h3>
         <div class="" style="position:relative;padding:0 0 28px 0;">
            <a class="left" href="/deals/the-runners-shop?secret_code=PROMO2011">
            <img style="margin-top:8px;margin-right:50px;" src="http://photos.justformyfriends.com/recommend.png">
            </a>
            <h3 class="" style="font-size:150%;line-height:50px;">Bring a new member to join our 2012 Winter Running Clinics, and save on your clinic purchase! </h3>
         </div>
      </div>
      <div class="clearfix" style="padding:5px;">
         &#160;
      </div>
      <div class="left promoBanner2" style="position:relative;text-align:center;position:relative;background-image:url(http://photos.justformyfriends.com/recommend.png);background-position:50% 30%;background-repeat:no-repeat;">
         <div class="gradFont" style="width:300px;padding:20px;">
            <h3 style="font-size:250%;line-height:44px;">REFER A FRIEND
               <br/>
               <br/>
               <br/>
               </br><span style="margin-top:10px;font-size:130%;">GET</span><span style="color:red;font-size:130%;"> $25 OFF</span>
               <br/>
            </h3>
            <span>ON ALL 2012 WINTER CLINIC MEMBERSHIPS!</span>
            <br/>
            <br/>
            <a class="btn rewardTag promoBtn" href="/deals/the-runners-shop?secret_code=PROMO2011">
            <img src="http://photos.justformyfriends.com/favicon.ico">
            Find Out More &raquo</a>
         </div>
         <!-- Server Side into passed to Client Side -->
      </div>
      <div style="display:none;">
         <div id="systemTime">
            <%= Time.now().to_f*1000 %>
         </div>
         <% if signed_in? %>
         <div id="currFbId">
            <%= current_user.facebook_id %>
         </div>
         <% end %>
      </div>
   </body>
</html>
