.merchant-photo-small {
	width: 60px;
	margin-right: 10px;
}

.merchant-name-small {
	font-weight: bold;
	font-size: 14px;
}

.merchant-badge-small {
	width: 40px;
}

.merchant-badge-name-small {
	font-size: 11px;
}

.reward-text {
}

.eligible-reward {
	font-weight: bold;
}

.appBtn {
	margin-top: 10px;
	height: 50px;
}

.bonus-points {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	left: 10px;
}

.facebook-connect-details {
	padding-bottom: 10px;
}