.merchant-photo {
	margin-bottom: 10px;
}

.merchant-website {
	margin-bottom: 10px;
}

.merchant-address {
	margin-bottom: 10px;
}

.merchant-points {
	font-weight: bold;
	color: #e65407;
}

.merchant-badge {
	width: 100px;
	margin-right: 10px;
}

.merchant-badge-name {
	font-weight: bold;
	font-size: 16px;
}
