//------------------------------------------------------------------------------
// Accounts Page
//------------------------------------------------------------------------------
.accountsMain {
   .accountsPanelHdr {
      @extend .ptsEarnPanelHdr;
   }
   .accountsList {
      @extend .listScrollWrapper;
      .listItemDetailsWrapper {
         padding-left:0 !important;
         &.single {
            .points {
               padding-top : $icon-size/4; 
               padding-bottom : $icon-size/4; 
               img {
                  top : $icon-size/4;
               }
            }
         }
         .title {
            float: left;
            margin-left:calc-px-em($icon-size, $panelGap, $largeFontSize);
            text-align:left;
            font-size:$largeFontSize;
            font-weight:normal;
            line-height:$icon-size/2;
         }
         .points {
            position:relative;
            text-align:right;
            font-size:$xlargeFontSize;
            font-weight:bold;
            line-height:$icon-size/2;
            padding-right:calc-px-em($icon-size/2, $panelGap, $xlargeFontSize);
            img {
               position:absolute;
               right:0;
               top:0;
               width:$icon-size/2;
            }
         }
      }
      .x-list-emptytext {
         position:absolute;
         width:100%;
         top:0;
         bottom:0;
         right:0;
         @extend .emptyPage;
         background: theme_image($theme-path,  "noaccounts" + ".png") center no-repeat;
         &:before {
            content:"You have no accounts opened";
         }
      }
   }
   .venuesList {
      .itemTitle {
         font-weight:bold;
      }
   }
}
