//------------------------------------------------------------------------------
// Accounts Page
//------------------------------------------------------------------------------
.accountsMain {
   .accountsPanelHdr {
      @extend .ptsEarnPanelHdr;
   }
   .accountsList {
      @extend .listScrollWrapper;
      .listItemDetailsWrapper {
         padding-left:0 !important;
         .title {
            float: left;
            margin-left:$icon-size + 10px;
            text-align:left;
            font-size:$largeFontSize;
            font-weight:normal;
            line-height:$icon-size/2;
         }
         .points {
            position:relative;
            text-align:right;
            font-size:$xlargeFontSize;
            font-weight:bold;
            line-height:$icon-size/2;
            padding-right:$icon-size/2 + 10px;
            img {
               position:absolute;
               right:0;
               top:0;
               width:$icon-size/2;
            }
         }
      }
      .x-list-emptytext {
         position:absolute;
         width:100%;
         height:100%;
         @extend .emptyPage;
         background: theme_image($theme-path,  "noaccounts" + ".png") center no-repeat;
         &:before {
            content:"You have no accounts opened";
         }
      }
   }
   .venuesList {
      .x-list-disclosure {
         bottom: 1.10em;
      }
      .itemDistance {
         position:absolute;
         top:$panelTopGap;
         right:$panelGap;
         font-weight:bold;
         font-size:$normalFontSize;
      }
      .itemTitle {
         font-weight:bold;
         font-size:$largeFontSize !important;
      }
      .itemDesc {
         font-size:$normalFontSize;
      }
   }
}
