//------------------------------------------------------------------------------
// Icon Select CSS (Challenge Page)
//------------------------------------------------------------------------------
.badgesMenuSelections {
   @extend .mainMenuSelections;
   .x-hasbadge .x-badge {
      right:0em;
      background-color : $OrangeStart;
      border-color : darken($OrangeStart,5%);
   }
   .x-innerhtml {
      font-size:$normalFontSize;
      .itemWrapper {
         height:auto;
         width:33%;
         .photo {
            height : $icon-size;
            img {
               width : $icon-size;
               max-height : $icon-size;
            }
         }
      }
      & > div:nth-child(2n+1) {
         clear:none;
      }
      & > div:nth-child(3n+1) {
         clear:both;
      }
   }
}
