//------------------------------------------------------------------------------
// Icon Select CSS (Challenge Page)
//------------------------------------------------------------------------------
.x-landscape .badgesMenuSelections {
   .x-innerhtml {
      .itemWrapper {
         width:25%;
      }
      & > div:nth-child(2n+1) {
         clear:none;
      }
      & > div:nth-child(3n+1) {
         clear:none;
      }
      & > div:nth-child(4n+1) {
         clear:both;
      }
   }
}
.x-portrait .badgesMenuSelections {
   .x-innerhtml {
      .itemWrapper {
         width:33.33333%;
      }
      & > div:nth-child(2n+1) {
         clear:none;
      }
      & > div:nth-child(3n+1) {
         clear:both;
      }
   }
}

.badgesMenuSelections {
   @extend .mainMenuSelections;
   .x-hasbadge .x-badge {
      right:0em;
      background-color : $OrangeStart;
      border-color : darken($OrangeStart,5%);
   }
   .x-innerhtml {
      font-size:$normalFontSize;
      .itemWrapper {
         height:auto;
         .photo {
            height : $icon-size*$icon-multiplier;
            img {
               width : $icon-size*$icon-multiplier;
               max-height : $icon-size*$icon-multiplier;
            }
         }
      }
   }
}
