//------------------------------------------------------------------------------
// Icon Select CSS (Challenge Page)
//------------------------------------------------------------------------------
.challengeMenuSelections {
   @extend .mainMenuSelections;
   .x-hasbadge .x-badge {
      right:0em;
      background-color : $OrangeStart;
      border-color : darken($OrangeStart,5%);
   }
   .x-innerhtml {
      .itemWrapper {
         width:33%;
         height:($panelTopGap*2)+($normalFontSize*1.25*2)+(1.25*5em);
         .photo {
            height : $icon-size*$icon-multiplier;
            img {
               width : $icon-size*$icon-multiplier;
               max-height : $icon-size*$icon-multiplier;
            }
         }
      }
      & > div:nth-child(2n+1) {
         clear:none;
      }
      & > div:nth-child(3n+1) {
         clear:both;
      }
   }
}

.challengePageItem {
   .x-carousel-item {
      @if $include-highlights {
         @include box-shadow(inset 0em -0.1em 0.1em rgba(0,0,0,0.6));
      }
   }
}
.challengePageItemDescWrapper {
   min-height : 4em;
   max-height : 4em;
   padding:$panelTopGap/2 $panelGap;
   background: rgba(252, 252, 253, .5);
   .itemDesc {
      font-size:$normalFontSize*1.25;
      padding-bottom:$panelTopGap/2;  
   }
   .itemDescName {
      text-align:center;
   }
}

.challengeContainer {
   @include custom-linear-gradient($BlueStart 0%, $BlueEnd 75%, top);
   padding: $panelTopGap 2*$panelGap;
   color : $Grey;
}
