//------------------------------------------------------------------------------
// Merchant Details Page
//------------------------------------------------------------------------------
.merchantDetails {
   .x-body {
   }
   .gmap .x-innerhtml {
      overflow:hidden;
   }
   .x-dataview {
      .x-inner {
         margin:0!important;
         padding:0!important;
      }
      .photo {
         font-size:1em;
         img {
            @if $include-highlights {
               @include box-shadow(0.2em 0.2em 0.2em rgba(0,0,0,.6));
            }
            margin-right:$panelGap;
         }
      }
      padding-right:0;
      .itemTitle {
         font-size:$largeFontSize !important;
      }
      .itemDesc {
         font-size:$normalFontSize;
      }
   }
}

//------------------------------------------------------------------------------
// iOS
//------------------------------------------------------------------------------
.x-ios {
   .merchantDetails {
      .x-dataview {
         .photo {
            height:calc-px-em($icon-size*2, $panelGap, 1em);
            img {
               width : $icon-size*2;
               max-height:$icon-size*2;
               margin-right:$panelGap;
            }
         }
      }
   }
}

//------------------------------------------------------------------------------
// Android
//------------------------------------------------------------------------------
.x-android {
   .merchantDetails {
      .x-dataview {
         .photo {
            height:calc-px-em($icon-size*3, $panelGap, 1em);
            img {
               width : $icon-size*3;
               max-height:$icon-size*3;
               margin-right:$panelGap;
            }
         }
      }
   }
}
