//------------------------------------------------------------------------------
// Redemptions Page
//------------------------------------------------------------------------------
.redemptionsMain {
   .ptsEarnPanelHdr {
      @extend .panelHdr;
      &:nth-child(3) {
         margin-top:$panelTopGap;
      }
      @if $include-highlights {
         //@include box-shadow(0.2em 0em 0em rgba(80,81,82,0.6));
      }
   }
   .ptsEarnPanel {
      padding:$panelGap*0.5;
      border: 1px solid $GreyEnd;
      background : $Grey;
      @if $include-border-radius { @include border-bottom-radius($panelBorderRadius); }
      @if $include-highlights {
         //@include box-shadow(0.2em 0.2em 0em rgba(80,81,82,0.6));
      }
      .x-inner {
        margin:0 !important;
        height:$icon-size;
      }
      .pointsphotobase {
         font-size:$xlargeFontSize*1.25;
         color : $OrangeStart;
         text-align:center;
         .x-innerhtml {
            font-size:$xlargeFontSize;
            font-weight:bold;
            line-height:$icon-size;
         }
      }
   }

   .x-scroll-scroller {
      position:static;
   }
   .redemptionsList {
      min-height:5em;
      @extend .listScrollIndexWrapper;
      .x-list-item {
         .listItemDetailsWrapper {
            .itemTitle {
               font-weight:bold;
               font-size:$largeFontSize !important;
               white-space: nowrap;
               line-height : $icon-size;
            }
         }
      }
   }
}
