.referralsMain {
   .referralsPanel {
      @extend .listNoScrollWrapper;
      .listItemDetailsWrapper {
         padding-left:0 !important;
         height:$icon-size*1.5;
         .itemTitle {
            margin-top:$panelTopGap;
            font-weight:bold;
            text-align:center;
            font-size:$xlargeFontSize*1.25 !important;
            &.emailsender:before {
               content : " ";
               width :$xlargeFontSize*1.25;
               height :$xlargeFontSize*1.25;
               position:absolute;
               -webkit-mask-image: theme_image($theme-path + "/toolbar", "mail" + ".png");
               -webkit-mask-size: $xlargeFontSize*1.25 $xlargeFontSize*1.25;
               background-color:$BlueEnd;
               top : $panelTopGap*1.5;
            }
         }
         .itemDesc {
            text-align:center;
         }
      }
   }
}
