//------------------------------------------------------------------------------
// Referral Challenge Page
//------------------------------------------------------------------------------
.referralsMain {
   .referralsPanel {
      @extend .listNoScrollWrapper;
      .listItemDetailsWrapper {
         padding: $panelTopGap*2 $panelGap !important;
         background:$Grey;
         border-bottom: 1px solid darken($list-bg-color, 15%);
         .itemTitle {
            font-weight:bold;
            text-align:center;
            font-size:$xlargeFontSize*1.25 !important;
            line-height:1em;
         }
         .itemDesc {
            text-align:center;
         }
      }
   }
}

//------------------------------------------------------------------------------
// iOS
//------------------------------------------------------------------------------
.x-ios, .x-desktop {
   .referralsMain {
      .referralsPanel {
         .listItemDetailsWrapper {
            .itemTitle {
               &.emailsender:before {
                  content : " ";
                  width :$xlargeFontSize*1.25;
                  height :$xlargeFontSize*1.25;
                  position:absolute;
                  -webkit-mask-image: theme_image($theme-path-common + "/toolbar", "mail" + ".svgz");
                  -webkit-mask-size: $xlargeFontSize*1.25 $xlargeFontSize*1.25;
                  background-color:$BlueEnd;
                  top : $panelTopGap*1.25;
               }
            }
         }
      }
   }
}
