.rewardsRedemptionsPanelHdr {
   @extend .panelHdr;
}

.rewardsServerMain {
   .x-field {
      background : black;
   }
   .rewardsMainCalculator {
     @extend .calculator
   }
}

.rewardsCart {
   @extend .listScrollIndexWrapper;
   .x-inner div[id|=ext-element] {
      //@if $include-border-radius { @include border-radius($panelBorderRadius); }
   }
   &.x-list .x-list-item:last-child {
     border-bottom : 0;
   }
   .x-data-item {
      .x-inner {
         min-width : 0 !important;
      }
      .photo {
        position:static !important;
        //height:$icon-size;
        .x-innerhtml {
           position:relative;
           .x-badge {
              @include opacity(.8);
              @if $include-button-highlights {
                 @include bevel-by-background($badgePoints-bg-color);
              }
              @include color-by-background($badgePoints-bg-color, $contrast: 50%);
              border: 1px solid darken($badgePoints-bg-color, 10%);
              @include background-gradient($badgePoints-bg-color, $badgePoints-bg-gradient);
           }
        }
      }
      .itemDetails {
         margin-left:$panelGap;
         //min-height:$icon-size;
         .itemTitle {
            font-weight:bold;
            font-size:$largeFontSize !important;
            white-space: normal;
            background:transparent;
            -webkit-text-fill-color:$list-color;
         }
         .itemDesc {
            font-size:$smallFontSize;
          }
      }
      .x-spinner {
         background:transparent;
         .x-field-input {
            width:2em;
            &.x-item-hidden {
               visibility:hidden;
            }
         }
         .x-input-el {
            //text-align:right;
            //font-size:$xlargeFontSize;
         }
      }
   }
   .earnPtsPanelHdr {
      @extend .panelHdr;
   }
}

.rewardsCart {
   .x-list-inner {
      padding:0 !important;
   }
}

.rewardsCartFooter {
   text-align:center;
   font-weight:bold;
   .points {
      text-align:right;
   }
}

.rouletteBg {
   background-image : url($theme-path-rel + "/green_roulette_bg" + ".png");
   background-size : cover;
}

.prizeCheck {
   position:relative;
   .rouletteBg, .rouletteTable, .rouletteBall {
      top:0;
      left:0;
      position:absolute;
      background-position : center center;
      background-color:transparent;
      background-repeat : no-repeat;
      width:100%;
      height:100%;
   }
   .rouletteBg {
      z-index:1
   }
   .rouletteTable, .rouletteBall {
      -webkit-transform-origin: 50% 50%;
      background-size : contain;
   }
   .rouletteTable {
      background-image : url($theme-path-rel + "/roulette2" + ".png");
      z-index:2;
   }
   .rouletteBall {
      background-image : url($theme-path-rel + "/ball" + ".png");
      z-index:3;
   }
   .spinFwd {
      -webkit-animation: roulette-table-rotate 3.0s infinite linear;     
   }
   .spinBack {
      -webkit-animation: roulette-table-rotate-back 2.1s infinite linear;     
   }
}