<ul class="nav nav-pills nav-stacked">
	<li>
		<%= link_to 'Basic Info', account_path %>
	</li>
	<li>
		<%= link_to 'Update Password', account_password_path %>
	</li>
	<% if session[:is_admin] %>
	<li>
		<%= link_to 'Payment Info', credit_cards_path %>
	</li>
	<% end %>
	<li>
		<%= link_to 'Invoices', invoices_path %>
	</li>
</ul>

