<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<div style="position: absolute; top: 265px; left: 99px; width: 275px; color: #00AEEF; font-size: 1.5em; text-align: center;">DOWNLOAD CODE</div>

<div style="position: absolute; top: 301px; left: 99px; width: 275px; height: 275px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="275" height="275">
</div>

<div style="position: absolute; top: 1227px; left: 99px; width: 275px; color: #00AEEF; font-size: 1.5em; text-align: center;"><%= @merchant.name %></div>
<div style="position: absolute; top: 1252px; left: 99px; width: 275px; color: #00AEEF; font-size: 1.5em; text-align: center;">SIGN UP CODE</div>

<div style="position: absolute; top: 1287px; left: 99px; width: 275px; height: 275px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@merchant.id,@qr_code) %>" width="275" height="275">
</div>

<div style="position: absolute; top: 1914px; left: 99px; width: 275px; color: #00AEEF; font-size: 1.5em; text-align: center;">DOWNLOAD CODE</div>

<div style="position: absolute; top: 1950px; left: 99px; width: 275px; height: 275px; background-color: none;">
<img src="http://files.getkickbak.com/kickbakqr.png" width="275" height="275">
</div>

<div style="position: absolute; top: 2876px; left: 99px; width: 275px; color: #00AEEF; font-size: 1.5em; text-align: center;"><%= @merchant.name %></div>
<div style="position: absolute; top: 2902px; left: 99px; width: 275px; color: #00AEEF; font-size: 1.5em; text-align: center;">SIGN UP CODE</div>

<div style="position: absolute; top: 2937px; left: 99px; width: 275px; height: 275px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@merchant.id,@qr_code) %>" width="275" height="275">
</div>

<img src="http://files.getkickbak.com/inside-FIN.jpg" width="2549" height="3300" />
</body>
</html>
