<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<div style="position: absolute; top: 231px; left: 55px; width: 324px; color: #00AEEF; font-size: 1.8em; text-align: center;">DOWNLOAD CODE</div>

<div style="position: absolute; top: 267px; left: 55px; width: 324px; height: 324px; background-color: none;">
<img src="https://s3.amazonaws.com/files.getkickbak.com/kickbakqr.png" width="324" height="324">
</div>

<div style="position: absolute; top: 1215px; left: 55px; width: 324px; color: #00AEEF; font-size: 1.8em; text-align: center;"><%= @merchant.name %></div>
<div style="position: absolute; top: 1245px; left: 55px; width: 324px; color: #00AEEF; font-size: 1.8em; text-align: center;">SIGN UP CODE</div>

<div style="position: absolute; top: 1281px; left: 55px; width: 324px; height: 324px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@merchant.id,@qr_code) %>" width="324" height="324">
</div>

<div style="position: absolute; top: 1881px; left: 55px; width: 324px; color: #00AEEF; font-size: 1.8em; text-align: center;">DOWNLOAD CODE</div>

<div style="position: absolute; top: 1917px; left: 55px; width: 324px; height: 324px; background-color: none;">
<img src="https://s3.amazonaws.com/files.getkickbak.com/kickbakqr.png" width="324" height="324">
</div>

<div style="position: absolute; top: 2865px; left: 55px; width: 324px; color: #00AEEF; font-size: 1.8em; text-align: center;"><%= @merchant.name %></div>
<div style="position: absolute; top: 2895px; left: 55px; width: 324px; color: #00AEEF; font-size: 1.8em; text-align: center;">SIGN UP CODE</div>

<div style="position: absolute; top: 2931px; left: 55px; width: 324px; height: 324px; background-color: none;">
<img src="<%= ::Common.generate_full_merchant_qr_code_file_path(@merchant.id,@qr_code) %>" width="324" height="324">
</div>

<img src="https://s3.amazonaws.com/files.getkickbak.com/inside-FIN.jpg" width="2549" height="3300" />
</body>
</html>
