<div class="span3">
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-question-sign"></i>
			<h3>Extra Info</h3>
		</div>
		<div class="widget-content">
			<p>
				Promotion appears as both a mobile push notification and a feed in the Kickbak app.
			</p>
			<p>
				Use it to tell your customers about your latest promotions or the latest going ons in your business!
			</p>
		</div>
	</div>
</div>