<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/business/base.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span12">
               <div class="widget ">
                  <div class="widget-header">
                     <i class="icon-user"></i>
                     <h3>New Promotion</h3>
                     <div class="widget-content">
                        <%= render 'form' %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--
<%= link_to 'Back', promotions_path %>
-->
