<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/css/ui-lightness/jquery-ui-1.8.20.custom.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"/>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/promotion.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span9">
               <div class="widget ">
                  <div class="widget-header">
                     <i class="icon-rss"></i>
                     <h3>New promotion</h3>
                  </div>
                  <div class="widget-content">
                     <%= render 'form' %>
                  </div>
               </div>
            </div>
            <%= render 'info' %>
         </div>
      </div>
   </div>
</div>
<!--
<%= link_to 'Back', promotions_path %>
-->
