<div class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="widget">
						<div class="widget-content">
							<%= render 'menu' %>
						</div>
					</div>
				</div>
				<div class="span9">
					<div class="widget">
						<div class="widget-content">
							<h3>Edit Basic Info</h3>
							<%= render 'form' %>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Back', account_path %>
-->