<div class="span3">
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-question-sign"></i>
			<h3>Plan</h3>
		</div>
		<div class="widget-content">
			<p>
				For <b>mobile users</b>, promotions appear as both a mobile push notification and a feed in the Kickbak app.
			</p>
			<p>
				For <b>card users</b>, promotions are sent directly to their email accounts.
			</p>
			<p>
				Use promotion to tell your customers about your latest deal!
			</p>
		</div>
	</div>
</div>
