<div class="span3">
	<div class="widget widget-box">
		<div class="widget-header">
			<i class="icon-question-sign"></i>
			<h3>Extra Info</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<p>
				Challenges are both a fun way to reward your customers and promote your business.
			</p>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- /widget-box -->
</div>