<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/challenge.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span9">
               <div class="widget ">
                  <div class="widget-header">
                     <i class="icon-trophy"></i>
                     <h3>Challenge</h3>
                  </div>
                  <!-- /widget-header -->
                  <div class="widget-content">
                     <div class="tabbable">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#challenge" data-toggle="tab">Edit</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                           <div class="tab-pane active" id="reward">
                              <%= render 'form' %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /widget-content -->
               </div>
               <!-- /widget -->
            </div>
            <!-- /span9 -->
            <div class="span3">
               <div class="widget widget-box">
                  <div class="widget-header">
                     <i class="icon-question-sign"></i>
                     <h3>Extra Info</h3>
                  </div>
                  <!-- /widget-header -->
                  <div class="widget-content">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <!-- /widget-content -->
               </div>
               <!-- /widget-box -->
            </div>
            <!-- /span3 -->
         </div>
         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Show', challenge_path(@challenge) %> |
<%= link_to 'Back', challenge_path %>
-->
