<% content_for :link do %>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/add_business-ie8.css"/>
<![endif]-->
<% end %>
<div class="row-fluid">
   <div class="span3"></div>
   <div class="span6">
      <h3> New Challenges</h3>
      <%= render 'create_form' %>
      <%= link_to 'Back', challenges_path %>
   </div>
</div>
