$input_font_size_factor : $xlargeFontSize*1.75/1em;
$panelHeight : 1.0em + $panelGap/(2*$input_font_size_factor);
.calculator {
   background : black;
   .x-field {
      background : black;     
      &.x-field-text {
         .x-component-outer {
            margin: $panelGap $panelGap*2;
            outline: darken($Grey, 10%) inset $panelGap;
            input.x-input-el {
               &, &::-webkit-input-placeholder {
                  padding: $panelTopGap/(4*$input_font_size_factor);
                  text-align:right;
                  line-height: $panelHeight;
               }
               &::-webkit-input-placeholder {
                  direction:rtl;
               }
               background : $Grey;
               font-size:$input_font_size_factor*1em;
               min-height:$panelHeight;
            }
         }
      }
   }
   .dialpad {
      .x-container .x-inner {
          margin-top:$panelTopGap;
      }
      .x-button {
         margin-left:$panelGap;
         .x-button-label {
            font-size:$xlargeFontSize;
         }
         &:last-child {
            margin-right:$panelGap;        
         }
      }
   }
}