.item {
   .title {
      //line-height:$xlargeFontSize*2 + 2*$panelTopGap;
      display:table;
      width:100%;
      padding:0 $panelGap;
      .x-innerhtml {
         display:table-cell;
         vertical-align:middle;
      }
   }
   .itemPhoto {
      width:100%;
      height:100%;
      .x-innerhtml {
         height:100%;
         text-align:center;
      }
   }
}

//------------------------------------------------------------------------------
// iOS
//-------------------------------------------------------------------------------
.x-ios, .x-desktop {
   .item {
      .itemPhoto {
         .x-innerhtml {
            img {
               width : $icon-size*3;
               height :$icon-size*3;
            }
         }
      }
   }
}

//------------------------------------------------------------------------------
// Android
//-------------------------------------------------------------------------------
.x-android {
   .item {
      .itemPhoto {
         .x-innerhtml {
            img {
               width : $icon-size*4;
               height :$icon-size*4;
            }
         }
      }
   }
}

