//------------------------------------------------------------------------------
// List CSS
//------------------------------------------------------------------------------
.listScrollWrapper, .listScrollIndexWrapper {
   .photo {
      top:$panelTopGap;
      left:$panelGap;
   }
}
.listNoScrollWrapper.separator, .listScrollWrapper.separator, .listScrollIndexWrapper.separator {
   margin:0 !important;
}
.listNoScrollWrapper.separator_pad, .listScrollWrapper.separator_pad, .listScrollIndexWrapper.separator_pad {
   padding:0 !important;
}
.listNoScrollWrapper.separator {
   .photo {
      top:$panelTopGap;
      left:$panelGap;
   }
   &.noBorder .x-list-item {
      border : none
   }
}
.listScrollWrapper, .listNoScrollWrapper, .listScrollIndexWrapper {
   &.x-list {
      .x-list-item {
         .x-dock-horizontal {
            .photo {
               position:absolute;
               height:$icon-size;
               img {
                  width : $icon-size;
                  max-height : $icon-size;
               }
            }
            .listItemDetailsWrapper {
               font-size:1em;
               padding-left:calc-px-em($icon-size,$panelGap,1em);
               //padding-right:$list-disclosure-size*1.5;
               min-height:$icon-size;
               .itemDistance {
                 position:absolute;
                 top:calc-em(0.65em,$normalFontSize);
                 right:calc-em(-1*$list-disclosure-size,$normalFontSize);
                 font-weight:bold;
                 font-size:$normalFontSize;
               }
               .itemTitle {
                  font-size:$normalFontSize;
               }
               .itemDesc {
                  font-size:$normalFontSize;
                  word-break:break-word;
               }
            }
         }
         &:first-child .x-dock-horizontal {
            @if $include-border-radius { @include border-radius(0); }
         }
      }
   }
   .x-inner, .x-list-inner {
      .x-list-container {
         @if $include-highlights {
            //@include box-shadow(inset 0 0 0.3em rgba(0,0,0,.6));
         }
         //border: 1px solid darken($list-bg-color, 15%);
      }
   }
   .x-list-container {
      padding : 0;
   }
}
