.pointsphotobase {
   line-height:$icon-size*$icon-multiplier;
   font-size:$xlargeFontSize*1.25;
   text-align:center;
   padding-left:calc-px-em($icon-size*$icon-multiplier, 0.2em, $xlargeFontSize*1.25);
   padding-right: 0.2em;
   position:relative;
   &:before {
      position:absolute;
      z-index:1;
      top:0;
      left:0;
      content : ' ';
      width : $icon-size*$icon-multiplier;
      height : $icon-size*$icon-multiplier;
      max-height: $icon-size*$icon-multiplier;
      background-position: top;
      @include background-size(contain);
      background-repeat: no-repeat;
      background-color: transparent;
   }
}

.prizephoto, .pointsphoto {
   @extend .pointsphotobase;
   padding-right:$list-disclosure-size + $panelGap;
}

.prizephoto {
   &:before {
      background-image: theme_image($theme-path + "/miscicons",  "prize_points" + ".png");
   }
}
.pointsphoto {
   &:before {
      background-image: theme_image($theme-path + "/miscicons",  "points" + ".png");
   }
}

.pointsphotodesc {
   @extend .pointsphotobase;
   height:calc-px-em($icon-size*$icon-multiplier, $panelTopGap, $xlargeFontSize*1.25);
   max-height:calc-px-em($icon-size*$icon-multiplier, $panelTopGap, $xlargeFontSize*1.25);
   &:before {
      background-image: theme_image($theme-path + "/miscicons",  "points" + ".png");
   }
   &:after {
      font-size:$smallFontSize;
      font-weight:bold;
      position:absolute;
      z-index:1;
      top:calc-px-em($icon-size*$icon-multiplier/2, -0.2*$panelTopGap, $smallFontSize);
      left:0;
      content : 'Rewards';
      width : $icon-size*$icon-multiplier;
   }
   .x-innerhtml {
      border : 1px solid; // Use inherited border color
      line-height : calc-px-em($icon-size*$icon-multiplier, $panelTopGap, $xlargeFontSize*1.25);
      @if $include-border-radius { @include border-radius($panelBorderRadius); }
   }
}

.visitsphotodesc {
   @extend .pointsphotodesc;
   &:before {
      background-image: theme_image($theme-path + "/miscicons", "number_visits" + ".png");
   }
   &:after {
      content : 'Visits';
   }
}
.prizephotodesc {
   @extend .pointsphotodesc;
   &:before {
      background-image: theme_image($theme-path + "/miscicons", "prize_points" + ".png");
   }
   &:after {
      content : 'Prizes';
   }
}
