.progressBarContainer {
   border: 1px solid #aaaaaa;
   background: #ffffff;
   color: #222222/*{fcContent}*/;
   
   @include border-radius(4px);   

   font-family: Verdana,Arial,sans-serif;
   font-size: 1.1em;
   height: 2em;
   text-align: center;
   overflow: hidden; 
   position: relative;
   
   .progressBar {
      @include border-left-radius(4px);   
      //margin: -1px;
      height: 100%;
      //border: 1px solid $GreyEnd;
      @include custom-linear-gradient($OrangeEnd 10%, lighten($OrangeStart, 15%) 85%, top);
   }

   .progressBarValue {
      position: absolute;
      top: 0;
      width: 100%;
      color: #222;
      font-weight: bold;
      z-index: 10000;
   }
}
