.badgeProgress {
   border: 1px solid #aaaaaa;
   background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
   color: #222222/*{fcContent}*/;
   
   -moz-border-radius: 4px;
   -webkit-border--radius: 4px;
   -khtml-border--radius: 4px;
   border-radius: 4px;

   font-family: Verdana,Arial,sans-serif;
   font-size: 1.1em;
   height: 2em;
   text-align: center;
   overflow: hidden; 
   position: relative;
}

.progressBar {
   -moz-border-radius: 4px 0 0 4px;
   -webkit-border-radius: 4px 0 0 4px;
   -khtml-border-radius: 4px 0 0 4px;
   border-radius: 4px 0 0 4px;
   
   margin: -1px;
   height: 100%;
   border: 1px solid #AAA;
   background: #CCC url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}

.progressBarValue {
   position: absolute;
   top: 0;
   width:100%;
   color: #222;
   font-weight: bold;
}
