.separator {
   margin:0em $panelGap;
   margin-bottom:$panelTopGap;
}
.separator:first-child {
   margin-top:$panelTopGap;
}
.separator_pad {
   padding:0em $panelGap;
   padding-bottom:$panelTopGap;
}
.separator_pad:first-child {
   padding-top:$panelTopGap;
}