<% content_for :script do %> <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/analytics.js"></script>
<% end %>
<div class="content row">
	<div class="span29">
		<div class="row">
			<div class="span18">
				<div id="new_customers">
					&nbsp;
				</div>
			</div>
			<div class="span11">
				<div>
					<%= @customers_total %> people in your loyalty program
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span18">
				<div id="purchases_line_chart">
					&nbsp;
				</div>
			</div>
			<div class="span11">
				<div>
					<%= @purchases_total %> purchases in the last 2 months
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span18">
				<div id="challenges_line_chart">
					&nbsp;
				</div>
			</div>
			<div class="span11">
				<div id="challenges_pie_chart">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>