<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/pages/reports.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/business/base.js"></script>
<!-- -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/analytics.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span6">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-user"></i>
                     <h3>New Cutomers</h3>
                  </div>
                  <div class="widget-content">
                     <div id="new_customers">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
            <div class="span6">
               <div class="widget big-stats-container">
                  <div class="widget-content">
                     <div id="big_stats" class="cf">
                        <div class="stat">
                           <h4>People in your loyalty program</h4>
                           <span class="value"><%= @customers_total %></span>
                        </div>
                        <!-- .stat -->
                        <div class="stat">
                           <h4>New customers in the last 2 weeks</h4>
                           <span class="value"><%= @new_customers_total %></span>
                        </div>
                     </div>
                  </div>
                  <!-- /widget-content -->
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span6">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-shopping-cart"></i>
                     <h3>Purchases</h3>
                  </div>
                  <div class="widget-content">
                     <div id="purchases_line_chart">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
            <div class="span6">
               <div class="widget big-stats-container">
                  <div class="widget-content">
                     <div id="big_stats" class="cf">
                        <div class="stat">
                           <h4>Purchases in the last 2 months</h4>
                           <span class="value"><%= @purchases_total %></span>
                        </div>
                        <!-- .stat -->
                     </div>
                  </div>
                  <!-- /widget-content -->
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span6">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-qrcode"></i>
                     <h3>Challenges Line Chart</h3>
                  </div>
                  <div class="widget-content">
                     <div id="challenges_line_chart">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
            <div class="span6">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-qrcode"></i>
                     <h3>Challenges Pie Chart</h3>
                  </div>
                  <div class="widget-content">
                     <div id="challenges_pie_chart">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
