<div class="span3">
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-question-sign"></i>
			<h3>Extra Info</h3>
		</div>
		<div class="widget-content">
			<p>
				Create a <%= @customer_reward.mode == :reward ? "reward" : "prize" %> that gets your customers excited!  Reward them with anything you want and be creative with it.
			</p>
			<p>
				Remember, the <%= @customer_reward.mode == :reward ? "reward" : "prize" %> should be unique and special to your business!
			</p>
		</div>
	</div>
</div>