<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/css/ui-lightness/jquery-ui-1.8.20.custom.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"/>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/customer_reward.js"></script>
<% end %>
<div id="main" class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span9">
               <div class="widget ">
                  <div class="widget-header">
                  	 <% if @customer_reward.mode == :prize %>
                  	 <i class="icon-star"></i>
                     <h3>Prize</h3>
                  	 <% else %>
                     <i class="icon-gift"></i>
                     <h3>Reward</h3>
                     <% end %>
                  </div>
                  <!-- /widget-header -->
                  <div class="widget-content">
                     <div class="tabbable">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#reward" data-toggle="tab">Create</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                           <div class="tab-pane active" id="reward">
                              <%= render 'form' %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /widget-content -->
               </div>
               <!-- /widget -->
            </div>
           <%= render 'info' %>
         </div>
         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <!-- /main-inner -->
</div>
<!-- /main -->
