#Fri, 26 Apr 2013 02:18:56 -0400
app.name=KickBak

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=2efe81a4-13c9-4f04-ab1f-2ceead0cce05
